.allContestsHeader {
  width: 230px;
  padding-top: 30px !important;
  margin: 0 auto 5px !important;
  background-color: white;
  z-index: 2;
}
.allContests {
  position: relative;
  width: 1980px;
  margin: 70px auto;
  background-color: white;
  box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3);
  height: auto;
  overflow: hidden;
  .mainContest {
    padding: 20px 0 20px;
    float: left;
    width: 976px;
    margin: 0 28px;
    iframe {
      width: 976px;
      height: 549px;
      border-radius: 0;
      box-shadow: 4px 6px 12px 0px rgba(0, 0, 0, 0.3);
    }
  }
  .otherContests {
    margin: auto;
    overflow: hidden;
    padding-top: 3px;
    width: 948px;
    .card {
      border-radius: 0;
      float: left;
      box-shadow: 4px 6px 12px 0px rgba(0, 0, 0, 0.3);
      margin: 20px 17px 20px 9px;
      width: 448px;
      height: 252px;
      .image {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 2170px) {
  .allContestsHeader {
    width: 170px;
    padding-top: 22px !important;
  }
  .allContests {
    width: 1404px;
    .mainContest {
      padding-top: 10px;
      margin: 0 18px;
      width: 720px;
      iframe {
        width: 720px;
        height: 405px;
      }
    }
    .otherContests {
      width: 648px;
      padding-top: 1px;
      .card {
        width: 304px;
        height: 171px;
        margin: 20px 15px 20px 5px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .allContestsHeader {
    width: 140px;
    padding-top: 20px !important;
  }
  .allContests {
    width: 972px;
    .mainContest {
      padding-top: 10px;
      margin: 0 10px;
      width: 480px;
      iframe {
        width: 480px;
        height: 270px;
        box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
      }
    }
    .otherContests {
      width: 472px;
      .card {
        width: 224px;
        height: 126px;
        margin: 9px 9px 9px 3px;
        box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .allContestsHeader {
    width: 140px;
    padding-top: 20px !important;
  }
  .allContests {
    width: 746px;
    .mainContest {
      padding-top: 10px;
      margin: auto;
      width: 640px;
      float: none;
      iframe {
        width: 640px;
        height: 360px;
        box-shadow: 4px 6px 12px 0px rgba(0, 0, 0, 0.3);
      }
    }
    .otherContests {
      width: 648px;
      padding-top: 0;
      padding-bottom: 15px;
      .card {
        width: 304px;
        height: 171px;
        margin: 10px;
        box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .allContestsHeader {
    width: 150px;
  }
  .allContests {
    width: 100%;
    .mainContest {
      width: 496px;
      iframe {
        width: 496px;
        height: 279px;
      }
    }
    .otherContests {
      width: 496px;
      .card {
        width: 224px;
        height: 126px;
        margin: 12px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .allContests {
    .mainContest {
      width: 400px;
      iframe {
        width: 400px;
        height: 225px;
      }
    }
    .otherContests {
      width: 388px;
      .card {
        width: 194px;
        height: 110px;
        margin: 0px;
        box-shadow: none;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .allContests {
    .mainContest {
      width: 100%;
      iframe {
        width: 100%;
        height: 196px;
      }
    }
    .otherContests {
      width: 98%;
      .card {
        width: 50%;
        height: 100px;
      }
    }
  }
}