// Videos List

.articlesHeader {
  width: 185px;
  margin: 30px auto 40px !important;
  background-color: white;
  z-index: 2;
}
// Pages and Newsletter
.articleContainer {
  display: flex;
  width: 1980px;
  margin: 130px auto auto;
  // Pages
  .videoList {
    margin: 0 0 auto auto;
    height: 1720px;
    width: 1240px;
    position: relative;
    background-color: white;
    box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3);
    .videoNav {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      clear: both;
    }
    .card {
      overflow: hidden;
      width: 360px;
      height: 480px;
      margin: 40px;
      border-radius: 0;
      box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3);
      
      .image {
        width: 100%;
        height: 100%;
        position: absolute;
      }
      .black {
        width: 100%;
        height: 100%;
        position: absolute;
        background: black;
        opacity: 0;
        transition: all .4s ease-in-out;
      }
      .content {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 0;
        opacity: 0;
        transition: all .4s ease-in-out;
        .header {
          font-size: 28px;
          color: white;
          padding: 5px;
          position: absolute;
          left: 50%;
          top: 50%;
          margin: 0;
          margin-right: -50%;
          transform: translate(-50%,-50%);
        }
      }
    }
    .card:hover {
      .black {
        opacity: 0.7;
        transition: all .4s ease-in-out;
      }
      .content {
        opacity: 1;
        transition: all .4s ease-in-out;
      }
    }
    .card:nth-child(3n+3) {
      clear: left;
      float: left;
      margin-top: 0;
    }
    .card:nth-child(3n+4) {
      float: left;
      margin-left: 0;
      margin-top: 0;
    }
    .card:nth-child(3n+7) {
      margin-top: 0;
    }
  }
  // Newsletter
  .newsletterContainer {
    width: 740px;
  }
  .newsletter {
    .redLine {
      visibility: hidden;
    }
    height: 1520px;
    width: 700px;
    margin: 40px!important;
    margin-right: 0;
    padding: 35px;
    top: 60px;
    box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3) !important;
    border-radius: 0;
    .header {
      font-size: 34px;
      margin-top: 50px;
      margin-bottom: 30px;
      color: #db2828;
    }
    .paragraph {
      font-size: 43px;
      margin-bottom: 80px;
    }
    .input {
      display: block;
      width: 600px;
      font-size : 30px;
      margin: auto auto 80px auto;
      input {
        padding: 0.5em 0.6em;
        width: 100%;
        background-color: #f5ccba;
        color: #e47e64;
        border-radius: 0;
      }
      input::placeholder {
        color: #e47e64;
      }
      input:focus {
        background-color: #f5ccba;
        color: #e47e64;
        border-radius: 0;
      }
    }
    .checkbox {
      font-size: 25px;
      margin-bottom: 60px;
      line-height: normal;
      label {
        padding-left: 80px;
        text-align: justify;
      }
      label::before {
        width: 51px;
        height: 51px;
        border-color: #db2828 !important;
      }
      label::after {
        font-size: 51px;
        width: 51px;
        height: 51px;
      }
    }
    .button {
      margin-bottom: 40px;
      font-size: 40px;
      padding: 20px;
      color: black;
      background-color: white;
      transition: background-color 0.5s;
      border-style: solid;
      border-radius: 0;
    }
    .button:hover {
      background-color: rgba(0,0,0,.05);
      transition: background-color 0.5s;
    }
  }
}

@media screen and (max-width: 2170px) {
  .articlesHeader {
    width: 130px;
    margin: 20px auto 26px !important;
  }
  // Pages and Newsletter
  .articleContainer {
    width: 1404px;
    // Pages
    .videoList {
      height: 1330px;
      width: 940px;
      .card {
        width: 279px;
        height: 372px;
        margin: 26px;
        .content {
          .header {
            font-size: 21px;
          }
        }
      }
      .card:nth-child(2) {
        margin-top: 0;
      }
    }
    // Newsletter
    .newsletterContainer {
      width: 464px;
    }
    .newsletter {
      height: 1115px;
      width: 439px;
      padding: 25px;
      margin: 25px !important;
      margin-right: 0;
      top: 80px;
      .header {
        font-size: 23px;
        margin-top: 60px;
      }
      .paragraph {
        font-size: 26px;
        margin-bottom: 40px;
      }
      .input {
        width: 375px;
        font-size: 24px;
        margin: auto auto 40px auto;
      }
      .checkbox {
        font-size: 18px;
        margin-bottom: 30px;
        label {
          padding-left: 38px;
        }
        label::before {
          width: 34px;
          height: 34px;
        }
        label::after {
          width: 34px;
          height: 34px;
          font-size: 34px;
        }
      }
      .button {
        font-size: 28px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .articlesHeader {
    width: 105px;
    margin: 20px auto 17px !important;
  }
  // Pages and Newsletter
  .articleContainer {
    width: 972px;
    margin: 70px auto auto;
    // Pages
    .videoList {
      height: 970px;
      width: 670px;
      .card {
        width: 201px;
        height: 268px;
        margin: 17px;
        .content {
          .header {
            font-size: 16px;
          }
        }
      }
    }
    // Newsletter
    .newsletterContainer {
      width: 302px;
    }
    .newsletter {
      height: 820px;
      width: 287px;
      margin: 15px !important;
      margin-right: 0;
      padding: 6px;
      top: 60px;
      .header {
        font-size: 15px;
        margin-top: 60px;
        margin-bottom: 20px;
      }
      .paragraph {
        font-size: 18px;
        margin-bottom: 30px;
      }
      .input {
        width: 230px;
        font-size: 16px;
        margin: auto auto 25px auto;
      }
      .checkbox {
        font-size: 13px;
        margin-bottom: 20px;
        label {
          padding-left: 32px;
        }
        label::before {
          width: 28px;
          height: 28px;
        }
        label::after {
          width: 28px;
          height: 28px;
          font-size: 28px;
        }
      }
      .button {
        padding: 15px 20px;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  // Newsletter articles content box
  .articleContainer {
    .videoList {
      .card {
        .content {
          opacity: 1;
          width: 100%;
          height: 70px;
          margin: auto;
          background-color: white;
          display: flex;
          position: absolute;
          bottom: 0;
          overflow: hidden;
          text-align: left;
          border-style: solid !important;
          border-width: 1px !important;
          border-color: lightgray !important;
          .header {
            font-size: 16px;
            padding: 5px;
            margin: auto;
            color: black;
            width: 100%;
            height: 100%;
            line-height: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .articlesHeader {
    width: 110px;
    padding-top: 20px !important;
    margin: 20px auto 18px !important;
  }
  // Pages and Newsletter
  .articleContainer {
    display: inline;
    position: relative;
    // Pages
    .videoList {
      height: auto;
      width: 742px;
      margin: 70px auto;
      .videoNav {
        position: relative;
      }
      .card {
        width: 223px;
        height: 297px;
        margin: 18px;
      }
    }
    // Newsletter
    .newsletterContainer {
      height: auto;
      width: 100%;
      margin: 70px auto;
    }
    .newsletter {
      .redLine {
        visibility: visible;
      }
      top: 0;
      height: auto;
      width: 746px;
      margin: auto !important;
      padding: 20px;
      border-radius: 0;
      .header {
        font-size: 19px;
        margin: 4px auto 10px;
        width: 260px;
        background-color: white;
        z-index: 2;
        position: relative;
      }
      .paragraph {
        font-size: 26px;
        line-height: 28px;
        margin-bottom: 15px;
      }
      .input {
        width: 635px;
        font-size: 17px;
        margin: 0 auto 15px auto;
        input {
          padding: 10px 20px;
        }
      }
      .checkbox {
        font-size: 13px;
        line-height: 14px;
        margin-bottom: 10px;
        label {
          padding-left: 35px;
          padding-right: 35px;
        }
        label::before {
          width: 20px;
          height: 20px;
        }
        label::after {
          font-size: 20px;
          width: 20px;
          height: 20px;
          top: 2px;
        }
      }
      .button {
        font-size: 18px;
        padding: 10px 15px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .articlesHeader {
    margin: 20px auto 0 !important;
  }
  .articleContainerSmall {
    position: relative;
    .smallArticlesContainer {
      width: 500px;
      margin: auto;
    }
    // Pages
    .videoList {
      width: 100%;
      margin: auto;
      position: relative;
      background-color: white;
      box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3);
      .card {
        width: 230px;
        height: 306px;
        margin: 10px;
        box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3);
        float: left;
        
        .image {
          width: 100%;
          height: 100%;
          position: absolute;
        }
        .content {
          width: 100%;
          height: 68px;
          background-color: white;
          display: flex;
          position: absolute;
          bottom: 0;
          overflow: hidden;
          border-style: solid !important;
          border-width: 1px !important;
          border-color: lightgray;
          .header {
            font-size: 15px;
            padding: 5px;
            margin: auto;
            color: black;
            width: 100%;
            height: 100%;
            line-height: 19px;
          }
        }
      }
      .videoNav {
        position: relative;
        width: 100%;
        text-align: center;
        bottom: 0;
        clear: both;
      }
    }
    // Newsletter
    .newsletterContainer {
      height: auto;
      margin: 30px auto;
    }
    .newsletter {
      width: 100%;
      padding: 10px;
      border-radius: 0;
      box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3) !important;
      .header {
        color: #db2828;
        margin: 14px auto 10px;
        width: 260px;
        background-color: white;
        z-index: 2;
        position: relative;
        font-size: 19px;
      }
      .paragraph {
        font-size: 25px;
        line-height: 27px;
        margin-bottom: 15px;
      }
      .input {
        display: block;
        font-size: 17px;
        width: 460px;
        margin: 0 auto 15px auto;
        input {
          padding: 10px 20px;
          width: 100%;
          background-color: #f5ccba;
          color: #e47e64;
          border-radius: 0;
        }
        input::placeholder {
          color: #e47e64;
        }
        input:focus {
          background-color: #f5ccba;
          color: #e47e64;
          border-radius: 0;
        }
      }
      .checkbox {
        font-size: 13px;
        line-height: 14px;
        margin-bottom: 10px;
        text-align: justify;
        label {
          padding-left: 35px;
          padding-right: 35px;
        }
        label::before {
          width: 20px;
          height: 20px;
          border-color: #db2828 !important;
        }
        label::after {
          font-size: 20px;
          width: 20px;
          height: 20px;
          top: 2px;
          border-color: #db2828 !important;
        }
      }
      .button {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        padding: 10px 15px;
        color: black;
        background-color: white;
        transition: background-color 0.5s;
        border-style: solid;
        border-radius: 0;
      }
      .button:hover {
        background-color: rgba(0,0,0,.05);
        transition: background-color 0.5s;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .articleContainerSmall {
    .smallArticlesContainer {
      width: 350px;
    }
    // Pages
    .videoList {
      .card {
        height: 440px;
        width: 330px;
        .content {
          height: 80px;
          .header {
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
    }
    // Newsletter
    .newsletter {
      padding: 5px;
      .header {
        font-size: 17px;
        margin: 20px auto 10px;
        width: 230px;
      }
      .paragraph {
        font-size: 21px;
        line-height: 23px;
      }
      .input {
        width: 360px;
        input {
          padding: 8px 15px;
        }
      }
      .checkbox {
        font-size: 12px;
        line-height: 13px;
        label {
          padding-left: 30px;
          padding-right: 15px;
        }
      }
      .button {
        font-size: 17px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .articleContainerSmall {
    .smallArticlesContainer {
      width: 100%;
    }
    // Pages
    .videoList {
      .card {
        width: 100%;
        height: 450px;
        margin: 0 0 20px;
      }
    }
    // Newsletter
    .newsletter {
      .input {
        width: 280px;
      }
      .checkbox {
        label {
          padding-right: 5px;
        }
      }
    }
  }
}