
// Videos List

.articlesHeader {
  width: 185px;
  position: relative;
  top: 10px;
}

.articleContainer {
  display: flex;
  width: 1980px;
  margin: 130px auto auto;
  .videoList {
    margin: 0 0 auto auto;
    height: 1710px;
    width: 1240px;
    position: relative;
    background-color: white;
    border-radius: 2em;
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
    .videoNav {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      clear: both;
    }
    .card {
      width: 360px;
      height: 480px;
      margin: 40px;
      border-radius: 2em!important;
      box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
      .listImage {
        width: 100%;
        height: 333px;
        border-radius: 2em 2em 0 0 !important;
      }
      .content {
        height: 140px;
        padding: 5px 10px;
        overflow: hidden;
        .header {
          font-size: 26px !important;
          color: black;
        }
      }
    }
    .card:nth-child(3n+2) {
      clear: left;
      float: left;
      margin-top: 0;
    }
    .card:nth-child(3n+3) {
      float: left;
      margin-left: 0;
    }
    .card:nth-child(2) {
      margin-top: 40px;
    }
    .card:nth-child(3n+6) {
      margin-top: 0;
    }
  }
  .newsletterContainer {
    height: 1710px;
    width: 740px;
  }
  .newsletter {
    height: 1520px;
    width: 700px;
    margin: 40px!important;
    margin-right: 0 !important;
    border-radius: 2em!important;
    padding: 15px !important;
    position: relative;
    top: 60px;
    .header {
      font-size: 34px!important;
      margin-top: 90px!important;
      margin-bottom: 30px;
      color: #db2828;
    }
    .paragraph {
      font-size: 48px;
      margin-bottom: 80px;
    }
    .input {
      display: block;
      width: 600px;
      font-size : 3em;
      margin: auto auto 80px auto;
      input {
        padding: 0.5em 0.6em;
        border-radius: 0.5em;
        width: 100%;
      }
    }
    .checkbox {
      font-size: 23px;
      margin-bottom: 90px;
      line-height: normal;
      label {
        padding-left: 54px;
      }
      label::before {
        width: 51px;
        height: 51px;
      }
      label::after {
        font-size: 51px;
        width: 51px;
        height: 51px;
      }
    }
    .button {
      margin-bottom: 40px;
      font-size: 3em;
      padding: 0.75em 3.5em;
      border-radius: 1.75rem;
    }
  }
}

@media screen and (max-width: 2170px) {
  .articlesHeader {
    width: 160px;
  }
  .articleContainer {
    width: 1404px;
    .videoList {
      height: 1400px;
      width: 940px;
      .card {
        width: 300px;
        height: 400px;
        margin: 10px;
        margin-top: 20px;
        .listImage {
          height: 300px;
        }
        .content {
          height: 95px;
          .header {
            font-size: 18px !important;
          }
        }
      }
      .card:nth-child(3n+2) {
        margin-top: 10px;
      }
      .card:nth-child(3n+6) {
        margin-top: 10px;
      }
      .card:nth-child(2) {
        margin-top: 20px;
      }
    }
    .newsletterContainer {
      height: 1400px;
      width: 464px;
    }
    .newsletter {
      height: 1115px;
      width: 439px;
      margin: 25px !important;
      margin-top: 25px !important;
      top: 120px;
      .header {
        font-size: 31px!important;
        margin-top: 87px!important;
      }
      .paragraph {
        font-size: 29px;
        margin-bottom: 40px;
      }
      .input {
        width: 375px;
        font-size: 2em;
        margin: auto auto 40px auto;
      }
      .checkbox {
        font-size: 18px;
        margin-bottom: 50px;
        label {
          padding-left: 38px;
        }
        label::before {
          width: 34px;
          height: 34px;
        }
        label::after {
          width: 34px;
          height: 34px;
          font-size: 34px;
        }
      }
      .button {
        font-size: 2em;
        margin-bottom: 88px;
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .articlesHeader {
    width: 150px;
  }
  .articleContainer {
    width: 972px;
    .videoList {
      height: 1040px;
      width: 670px;
      .card {
        width: 210px;
        height: 280px;
        margin: 10px;
        margin-top: 20px;
        .listImage {
          height: 200px;
        }
        .content {
          height: 75px;
          .header {
            font-size: 14px !important;
          }
        }
      }
      .card:nth-child(3n+2) {
        margin-top: 10px;
      }
      .card:nth-child(3n+6) {
        margin-top: 10px;
      }
      .card:nth-child(2) {
        margin-top: 20px;
      }
    }
    .newsletterContainer {
      height: 1040px;
      width: 302px;
    }
    .newsletter {
      height: 820px;
      width: 287px;
      margin: 15px !important;
      margin-right: 0 !important;
      margin-top: 15px !important;
      padding: 6px !important;
      top: 95px;
      .header {
        font-size: 18px!important;
        margin-top: 80px!important;
        margin-bottom: 20px;
      }
      .paragraph {
        font-size: 19px;
        margin-bottom: 30px;
      }
      .input {
        width: 230px;
        font-size: 1.5em;
        margin: auto auto 30px auto;
      }
      .checkbox {
        font-size: 13px;
        margin-bottom: 20px;
        label {
          padding-left: 32px;
        }
        label::before {
          width: 28px;
          height: 28px;
        }
        label::after {
          width: 28px;
          height: 28px;
          font-size: 28px;
        }
      }
      .button {
        font-size: 1.5em;
        margin-bottom: 60px;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .articlesHeader {
    width: 130px;
  }
  .articleContainer {
    display: inline;
    position: relative;
    top: 70px;
    .videoList {
      height: auto;
      width: 742px;
      margin: auto;
      .videoNav {
        position: relative;
      }
      .card {
        width: 234px;
        height: 312px;
        margin: 10px;
        margin-top: 20px;
        .listImage {
          height: 220px;
        }
        .content {
          height: 80px;
          .header {
            font-size: 16px !important;
          }
        }
      }
      .card:nth-child(2) {
        margin-top: 20px;
      }
    }
    .newsletterContainer {
      height: auto;
      width: 100%;
    }
    .newsletter {
      height: auto;
      width: 746px;
      overflow: hidden;
      margin: 70px auto !important;
      top: 0;
      padding: 20px !important;
      .header {
        font-size: 19px !important;
        margin-top: 10px !important;
        margin-bottom: 10px;
      }
      .paragraph {
        font-size: 21px;
        line-height: 22px;
        margin-bottom: 15px;
      }
      .input {
        width: 640px;
        font-size: 17px;
        margin: 0 auto 15px auto;
        input {
          padding: 10px 20px;
        }
      }
      .checkbox {
        line-height: 14px;
        margin-bottom: 10px;
        label {
          padding-left: 33px;
        }
        label::before {
          width: 20px;
          height: 20px;
        }
        label::after {
          font-size: 20px;
          width: 20px;
          height: 20px;
          top: 2px;
        }
      }
      .button {
        font-size: 16px;
        padding: 10px 35px;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 0.5em;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .articleContainerSmall {
    position: relative;
    top: 70px;
    .smallArticlesContainer {
      width: 500px;
      margin: auto;
    }
    .videoList {
      width: 100%;
      margin: auto;
      position: relative;
      background-color: white;
      border-radius: 2em;
      box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
      .card {
        width: 240px;
        height: 320px;
        margin: 5px;
        box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
        border-radius: 1.5em;
        float: left;
        .listImage {
          height: 240px;
          width: 100%;
          border-radius: 1.5em 1.5em 0 0 !important;
        }
        .content {
          padding: 5px 10px;
          overflow: hidden;
          height: 80px;
          .header {
            font-size: 15px !important;
            color: black;
          }
        }
      }
      .videoNav {
        position: relative;
        width: 100%;
        text-align: center;
        bottom: 0;
        clear: both;
      }
    }
    .newsletter {
      height: 100%;
      width: 100%;
      border-radius: 0 !important;
      padding: 10px !important;
      margin: 70px auto !important;
      .header {
        color: #db2828;
        margin-bottom: 10px;
        margin-top: 10px !important;
        font-size: 19px !important;
      }
      .paragraph {
        font-size: 25px;
        line-height: 27px;
        margin-bottom: 15px;
      }
      .input {
        font-size: 17px;
        width: 420px;
        margin: 0 auto 15px auto;
        input {
          padding: 10px 20px;
        }
      }
      .checkbox {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
        label {
          padding-left: 24px;
        }
        label::before {
          width: 20px;
          height: 20px;
        }
        label::after {
          font-size: 20px;
          width: 20px;
          height: 20px;
          top: 2px;
        }
      }
      .button {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        padding: 10px 35px;
        border-radius: 0.5em;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .articleContainerSmall {
    top: 30px;
    .smallArticlesContainer {
      width: 330px;
    }
    .videoList {
      border-radius: 0;
      .card {
        height: 440px;
        width: 330px;
        .listImage {
          height: 335px;
        }
        .content {
          height: 105px;
          .header {
            font-size: 20px !important;
          }
        }
      }
    }
    .newsletterContainer {
      height: 100%;
      width: 100%;
    }
    .newsletter {
      height: 100%;
      width: 100%;
      padding: 5px !important;
      .header {
        font-size: 17px !important;
      }
      .paragraph {
        font-size: 21px;
        line-height: 23px;
      }
      .input {
        width: 340px;
        input {
          padding: 8px 15px;
        }
      }
      .button {
        padding: 10px 30px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .articleContainerSmall {
    .smallArticlesContainer {
      width: 100%;
    }
    .videoList {
      .card {
        width: 100%;
        height: 400px;
        margin: 0 0 20px;
        border-radius: 0 !important;
        border-style: solid;
        border-width: 1px;
        border-color: white;
        .listImage {
          border-radius: 0 !important;
          height: 295px;
        }
      }
    }
    .newsletter {
      .input {
        width: 280px;
      }
    }
  }
}