// Expert Info
.expertContainer {
  width: 1980px;
  margin: auto;
  padding: 80px 80px 0;
  .imageContainer {
    float: left;
    .image {
      margin: auto 80px auto auto;
      width: 480px;
      box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3);
    }
  }
  .details{
    padding-top: 20px; 
    .header {
      font-size: 38px;
      color: #db2828;
    }
    .description {
      font-size: 28px;
      min-height: 350px;
    }
  }
}
// Expert Info margin bottom
.doctorInfo {
  margin-bottom: 130px !important;
}

@media screen and (max-width: 2170px) {
  // Expert Info
  .expertContainer {
    width: 1404px;
    padding: 80px 40px 0;
    .imageContainer {
      .image {
        margin: auto 40px auto auto;
      }
    }
    .details {
      .header {
        font-size: 32px;
      }
      .description {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  // Expert Info
  .expertContainer {
    width: 972px;
    padding: 40px 30px 0;

    .imageContainer {
      .image {
        width: 320px;
        margin: auto 20px auto auto;
      }
    }
    .details {
      padding-top: 20px;
      .header {
        font-size: 24px;
      }
      .description {
        font-size: 18px;
        min-height: 215px;
        margin-bottom: 10px;
      }
    }
  }
  // Expert Info margin bottom
  .doctorInfo {
    margin-bottom: 70px !important;
  }
}

@media screen and (max-width: 1020px) {
  // Expert Info
  .expertContainer {
    width: 746px;
    .details {
      min-height: 268px;
    }
  }
}

@media screen and (max-width: 768px) {
  // Expert Info
  .expertContainer {
    width: 496px;
    padding: 20px 0;

    .imageContainer {
      float: none;
      width: 320px;
      margin: auto;
      .image {
        width: 320px;
      }
    }
    .details {
      padding-top: 10px;
      .header {
        text-align: center;
        
      }
      .description {
        min-height: 0;
        padding: 0 8px;
      }
    }
  }
  // Expert Info margin bottom
  .doctorInfo {
    margin-bottom: 30px !important;
    margin-top: 0 !important;
  }
  .mainExpertInfo {
    margin-top: 30px !important;
  }
}

@media screen and (max-width: 500px) {
  // Expert Info
  .expertContainer {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  // Expert Info
  .expertContainer {
    width: 100%;
    .imageContainer {
      width: 100%;
      .image {
        width: 100%;
      }
    }
  }
}