
// Videos List
.expertsHeader {
  width: 180px;
  margin: 30px auto 50px !important;
  background-color: white;
  z-index: 2;
}
.doctorsContainer {
  margin-bottom: 30px;
  margin-top: 30px;
}
.doctorList {
  margin: 20px auto auto;
  height: auto;
  width: 1850px;
  .doctorNav {
    width: 100%;
    text-align: center;
    clear: both;
  }
  .card {
    width: 400px;
    height: 512px;
    margin: 50px;
    border-radius: 0;
    box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3);
    .image {
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .black {
      width: 100%;
      height: 100%;
      position: absolute;
      background: black;
      opacity: 0;
      transition: all .4s ease-in-out;
    }
    .content {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 80px;
      margin: auto;
      text-align: center;
      opacity: 0;
      transition: all .4s ease-in-out;
      .header {
        font-size: 32px;
        color: white;
        padding: 5px;
      }
    }
  }
  .card:hover {
    .black {
      opacity: 0.7;
      transition: all .4s ease-in-out;
    }
    .content {
      opacity: 1;
      transition: all .4s ease-in-out;
    }
  }
  .card:nth-child(4n+2) {
    clear: left;
    float: left;
    margin-top: 0;
  }
  .card:nth-child(4n+3) {
    float: left;
    margin-top: 0;
    margin-left: 0;
  }
  .card:nth-child(4n+4) {
    float: left;
    margin-top: 0;
    margin-left: 0;
  }
  .card:nth-child(2) {
    margin-top: 0;
  }
}

@media screen and (max-width: 2170px) {
  .expertsHeader {
    width: 130px;
    margin: 22px auto 30px !important;
  }
  .doctorList {
    width: 1350px;
    .card {
      width: 300px;
      height: 384px;
      margin: 30px;
      .content {
        height: 60px;
        .header {
          font-size: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .expertsHeader {
    width: 100px;
    margin: 20px auto 15px !important;
  }
  .doctorList {
    width: 955px;
    .card {
      width: 220px;
      height: 281px;
      margin: 15px;
      .content {
        height: 40px;
        .header {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .doctorList {
    .card {
      .black {
        display: none;
      }
      .content {
        opacity: 1;
        background-color: white;
        height: 60px;
        top: auto;
        border: solid !important;
        border-width: 1px 0 0 0 !important;
        border-color: lightgray !important;
        display: flex;
        overflow: hidden;
        .header {
          color: black;
          font-size: 19px;
          margin: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .expertsHeader {
    width: 110px;
  }
  .doctorList {
    width: 690px;
    .doctorNav {
      position: relative;
    }
    .card {
      width: 300px;
      height: 384px;
      margin: 30px;
    }
    .card:nth-child(4n+4) {
      margin-left: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .doctorList {
    width: 500px;
    .card {
      width: 220px;
      height: 281px;
      margin: 20px;
      .content {
        height: 55px;
        .header {
          font-size: 18px;
        }
      }
    }
    .card:nth-child(4n+4) {
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .doctorList {
    width: 340px;
    .card {
      width: 340px;
      height: 435px;
      margin: 30px 0;
    }
    .card:nth-child(4n+4) {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .doctorList {
    width: 100%;
    .card {
      width: 100%;
      height: 410px;
    }
  }
}

// Expert Movies & Articles Header

.expertMoviesHeader {
  width: 290px;
  margin: 30px auto 5px !important;
  background-color: white;
  z-index: 2;
}
.expertArticlesHeader {
  width: 340px;
  margin: 30px auto 5px !important;
  background-color: white;
  z-index: 2;
}

@media screen and (max-width: 2170px) {
  .expertMoviesHeader {
    width: 215px;
    margin: 20px auto 5px !important;
  }
  .expertArticlesHeader {
    width: 255px;
    margin: 20px auto 5px !important;
  }
}

@media screen and (max-width: 1440px) {
  .expertMoviesHeader {
    width: 175px;
  }
  .expertArticlesHeader {
    width: 205px;
  }
}

@media screen and (max-width: 1020px) {
  .expertMoviesHeader {
    width: 185px;
  }
  .expertArticlesHeader {
    width: 220px;
  }
}