.expertInfo {
  margin-top: 30px;
  .expertDescription {
    width: 2040px;
    font-size: 24px;
    margin: auto auto 60px;
  }
}

.doctorContainer {
  margin-bottom: 30px;
  margin-top: 30px;
  .header {
    font-size: 38px !important;
  }
}

.doctorContainerArticles {
  margin-bottom: 30px;
  margin-top: 30px;
  .header {
    font-size: 38px !important;
  }
}

.expertMovieList {
  margin: 20px auto auto;
  height: auto;
  width: 1980px;
  position: relative;

  .card {
    width: 640px;
    height: 360px;
    margin: 10px !important;
    border-radius: 1.5em !important;

    .Image {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
      border-radius: 1.5em !important;
    }
  }
}

.expertArticleList {
  margin: 20px auto auto;
  height: auto;
  width: 1980px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  .card {
    width: 640px;
    height: 470px;
    margin: 10px !important;
    border-radius: 1.5em !important;

    .Image {
      height: 360px;
      width: 100%;
      z-index: 1;
      border-radius: 1.5em 1.5em 0 0 !important;
    }

    .content {
      padding: 5px 10px;
      overflow: hidden;
      height: 105px;
      .header {
        font-size: 26px !important;
        color: black;
      }
      .description {
        font-size: 16px;
        margin-top: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 2170px) {
  .expertInfo {
    .expertDescription {
      width: 1404px;
    }
  }
  .doctorContainer {
    .header {
      font-size: 32px !important;
    }
  }
  .doctorContainerArticles {
    .header {
      font-size: 32px !important;
    }
  }
  .expertMovieList {
    width: 1404px;

    .card {
      width: 448px;
      height: 252px;
    }
  }
  .expertArticleList {
    width: 1404px;

    .card {
      width: 448px;
      height: 360px;

      .Image {
        height: 252px;
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .doctorContainer {
    .header {
      font-size: 28px !important;
    }
  }
  .doctorContainerArticles {
    .header {
      font-size: 28px !important;
    }
  }
  .expertInfo {
    .expertDescription {
      width: 972px;
    }
  }
  .expertMovieList {
    width: 972px;

    .card {
      width: 304px;
      height: 171px;
    }
  }
  .expertArticleList {
    width: 972px;

    .card {
      width: 304px;
      height: 255px;

      .Image {
        height: 171px;
      }
      .content {
        .header {
          font-size: 20px !important;
        }
        .description {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .expertInfo {
    .expertDescription {
      width: 746px;
      font-size: 18px;
    }
  }
  .doctorContainer {
    .header {
      font-size: 24px !important;
    }
  }
  .doctorContainerArticles {
    .header {
      font-size: 24px !important;
    }
  }
  .expertMovieList {
    width: 746px;

    .card {
      width: 368px;
      height: 207px;
      margin: 2px !important;
    }
  }
  .expertArticleList {
    width: 746px;

    .card {
      width: 368px;
      height: 290px;
      margin: 2px !important;

      .Image {
        height: 207px;
      }
      .content {
        height: 80px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .expertInfo {
    .expertDescription {
      width: 496px;
    }
  }
  .expertMovieList {
    width: 496px;

    .card {
      width: 496px;
      height: 279px;
      margin: 10px auto !important;
    }
  }
  .expertArticleList {
    width: 496px;

    .card {
      width: 496px;
      height: 385px;
      margin: 10px auto !important;

      .Image {
        height: 279px;
      }

      .content {
        height: 105px;
        .header {
          font-size: 26px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .expertInfo {
    .expertDescription {
      width: 400px;
    }
  }
  .expertMovieList {
    width: 400px;

    .card {
      width: 400px;
      height: 225px;
    }
  }
  .expertArticleList {
    width: 400px;

    .card {
      width: 400px;
      height: 310px;

      .Image {
        height: 225px;
      }
      .content {
        height: 80px;
        .header {
          font-size: 20px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .expertInfo {
    .expertDescription {
      width: 100%;
    }
  }
  .expertMovieList {
    width: 100%;

    .card {
      width: 100%;
      height: 198px;
      border-radius: 0 !important;
      margin-bottom: 20px;
      border-style: solid;
      border-width: 1px;
      border-color: lightgray;

      .Image {
        border-radius: 0 !important;
      }
    }
  }
  .expertArticleList {
    width: 100%;

    .card {
      width: 100%;
      height: 280px;
      border-radius: 0 !important;
      margin-bottom: 20px;
      border-style: solid;
      border-width: 1px;
      border-color: lightgray;

      .Image {
        height: 198px;
        border-radius: 0 !important;
      }
    }
  }
}

// Main Movies

.expertMovies {
  width: 1932px;
  margin: auto;
  height: auto;
  overflow: hidden;
  padding-bottom: 10px;

  .card {
    width: 624px;
    height: 351px;
    margin: 10px;
    margin-top: 10px !important;
    border-radius: 0!important;
    float: left;
    box-shadow: 0 2px 10px 4px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);

    .listImage {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
      border-radius: 0!important;
    }
  }
}

@media screen and (max-width: 2170px) {
  .expertMovies {
    width: 1356px;

    .card {
      width: 432px;
      height: 243px;

      .listContent {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .expertMovies {
    width: 924px;

    .card {
      width: 288px;
      height: 162px;

      .listContent {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .expertMovies {
    width: 712px;
    .card {
      width: 336px;
      height: 189px;
    }
  }
}

@media screen and (max-width: 768px) {
  .expertMovies {
    width: 496px;
    padding-bottom: 30px;

    .card {
      width: 480px;
      height: 270px;
      margin: 10px 8px;
      box-shadow: 0 2px 10px 2px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
    }
  }
}

@media screen and (max-width: 500px) {
  .expertMovies {
    width: 400px;
    .card {
      width: 384px;
      height: 216px;
    }
  }
}

@media screen and (max-width: 400px) {
  .expertMovies {
    width: 100%;
    padding-bottom: 15px;
    .card {
      width: 100%;
      height: 196px;
      margin: 10px 0!important;
      border-radius: 0 !important;
      border-style: solid;
      border-width: 1px;
      border-color: white;

      .listImage {
        border-radius: 0 !important;
      }
    }
  }
}
