.expertInfo {
  margin-top: 30px;
  .expertDescription {
    width: 2040px;
    font-size: 24px;
    margin: auto auto 60px;
  }
}

.doctorContainer {
  margin-bottom: 30px;
  margin-top: 30px;
  .header {
    font-size: 38px !important;
  }
}

.doctorContainerArticles {
  margin-bottom: 30px;
  margin-top: 30px;
  .header {
    font-size: 38px !important;
  }
}

.expertMovieList {
  margin: 20px auto auto;
  height: auto;
  width: 1980px;
  position: relative;

  .card {
    width: 640px;
    height: 360px;
    margin: 30px;
    border-radius: 1.5em !important;

    .Image {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
      border-radius: 1.5em !important;
    }
  }

  .card:nth-child(3n+1) {
    clear: left;
    float: left;
    margin-top: 0;
    margin-left: 0;
  }

  .card:nth-child(3n+2) {
      float: left;
      margin-top: 0;
      margin-left: 0;
  }

  .card:first-child {
    margin-top: 0;
  }
}

.expertArticleList {
  margin: 20px auto auto;
  height: auto;
  width: 1980px;
  position: relative;

  .card {
    width: 640px;
    height: 480px;
    margin: 30px;
    border-radius: 1.5em !important;

    .Image {
      height: 360px;
      z-index: 1;
      border-radius: 1.5em 1.5em 0 0 !important;
    }

    .content {
      .header {
        font-size: 26px !important;
      }
      .description {
        font-size: 16px;
        margin-top: 0 !important;
      }
    }
  }

  .card:nth-child(3n+1) {
    clear: left;
    float: left;
    margin-top: 0;
    margin-left: 0;
  }

  .card:nth-child(3n+2) {
      float: left;
      margin-top: 0;
      margin-left: 0;
  }

  .card:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 2170px) {
  .expertInfo {
    .expertDescription {
      width: 1404px;
    }
  }
  .doctorContainer {
    .header {
      font-size: 32px !important;
    }
  }
  .doctorContainerArticles {
    .header {
      font-size: 32px !important;
    }
  }
  .expertMovieList {
    width: 1404px;

    .card {
      width: 448px;
      height: 252px;
    }
  }
  .expertArticleList {
    width: 1404px;

    .card {
      width: 448px;
      height: 372px;

      .Image {
        height: 252px;
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .doctorContainer {
    .header {
      font-size: 28px !important;
    }
  }
  .doctorContainerArticles {
    .header {
      font-size: 28px !important;
    }
  }
  .expertInfo {
    .expertDescription {
      width: 972px;
    }
  }
  .expertMovieList {
    width: 972px;

    .card {
      width: 304px;
      height: 171px;
    }
  }
  .expertArticleList {
    width: 972px;

    .card {
      width: 304px;
      height: 291px;

      .Image {
        height: 171px;
      }
      .content {
        .header {
          font-size: 22px !important;
        }
        .description {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .expertInfo {
    .expertDescription {
      width: 746px;
      font-size: 18px;
    }
  }
  .doctorContainer {
    height: 908px;
    .header {
      font-size: 24px !important;
    }
  }
  .doctorContainerArticles {
    height: 1388px;
    .header {
      font-size: 24px !important;
    }
  }
  .expertMovieList {
    width: 746px;

    .card {
      width: 368px;
      height: 207px;
      margin: 10px;
    }

    .card:nth-child(n) {
      clear: none !important;
      float: none !important;
    }

    .card:nth-child(2n+1) {
      clear: left !important;
      float: left !important;
      margin-top: 0;
      margin-left: 0;
    }

    .card:nth-child(2n+2) {
        float: left !important;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
  }
  .expertArticleList {
    width: 746px;

    .card {
      width: 368px;
      height: 327px;
      margin: 10px;

      .Image {
        height: 207px;
      }
    }

    .card:nth-child(n) {
      clear: none !important;
      float: none !important;
    }

    .card:nth-child(2n+1) {
      clear: left !important;
      float: left !important;
      margin-top: 0;
      margin-left: 0;
    }

    .card:nth-child(2n+2) {
        float: left !important;
        margin-top: 0;
        margin-left: 0;
        
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .expertInfo {
    .expertDescription {
      width: 496px;
    }
  }
  .doctorContainer {
    height: 2352px;
  }
  .doctorContainerArticles {
    height: 3312px;
  }
  .expertMovieList {
    width: 496px;

    .card {
      width: 496px;
      height: 279px;
      margin-bottom: 10px;
      clear: none !important;
      float: none !important;
    }
  }
  .expertArticleList {
    width: 496px;

    .card {
      width: 496px;
      height: 399px;
      margin-bottom: 10px;
      clear: none !important;
      float: none !important;

      .Image {
        height: 279px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .expertInfo {
    .expertDescription {
      width: 400px;
    }
  }
  .doctorContainer {
    height: 1920px;
  }
  .doctorContainerArticles {
    height: 2880px;
  }
  .expertMovieList {
    width: 400px;

    .card {
      width: 400px;
      height: 225px;
    }
  }
  .expertArticleList {
    width: 400px;

    .card {
      width: 400px;
      height: 345px;

      .Image {
        height: 225px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .expertInfo {
    .expertDescription {
      width: 100%;
    }
  }
  .doctorContainer {
    height: 1634px;
  }
  .doctorContainerArticles {
    height: 2595px;
  }
  .expertMovieList {
    width: 100%;

    .card {
      width: 100%;
      height: 198px;
      border-radius: 0 !important;
      margin-bottom: 0;
      border-style: solid;
      border-width: 1px;
      border-color: lightgray;

      .Image {
        border-radius: 0 !important;
      }
    }
  }
  .expertArticleList {
    width: 100%;

    .card {
      width: 100%;
      height: 318px;
      border-radius: 0 !important;
      margin-bottom: 0;
      border-style: solid;
      border-width: 1px;
      border-color: lightgray;

      .Image {
        height: 198px;
        border-radius: 0 !important;
      }
    }
  }
}