
// Videos List
.doctorsContainer {
  margin-bottom: 30px;
  margin-top: 30px;
}

.doctorList {
  margin: 20px auto auto;
  height: auto;
  width: 1850px;

  .articlesHeader {
    position: relative;
    top: -10px;
  }

  .doctorNav {
    width: 100%;
    text-align: center;
    clear: both;
  }

  .card {
    width: 400px;
    height: 512px;
    margin: 50px;
    border-radius: 0!important;
    box-shadow: 0 2px 10px 4px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);

    .Image {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
    }

    .black {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
      border-radius: 0!important;
      background: black;
      opacity: 0;
      transition: all .4s ease-in-out;
    }

    .doctorContent {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 40px;
      margin: auto;
      text-align: center;
      z-index: 2;
      border: none !important;
      padding: 0;
      opacity: 0;
      transition: all .4s ease-in-out;

      .header {
        font-size: 30px !important;
        color: white;
        padding: 5px;
      }
    }
  }

  .card:hover {
    .black {
      opacity: 0.7;
      transition: all .4s ease-in-out;
    }
    .doctorContent {
      opacity: 1;
      transition: all .4s ease-in-out;
    }
  }

  .card:nth-child(4n+2) {
    clear: left;
    float: left;
    margin-top: 0;
  }

  .card:nth-child(4n+3) {
    float: left;
    margin-top: 0;
    margin-left: 0;
  }

  .card:nth-child(4n+4) {
    float: left;
    margin-top: 0;
    margin-left: 0;
  }

  .card:nth-child(2) {
    margin-top: 0;
  }
}

@media screen and (max-width: 2170px) {
  .doctorList {
    width: 1350px;
    .card {
      width: 300px;
      height: 384px;
      margin: 30px;
    }
  }
}

@media screen and (max-width: 1420px) {
  .doctorList {
    width: 955px;

    .card {
      width: 220px;
      height: 281px;
      margin: 15px;
      box-shadow: 0 2px 10px 2px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
    }
  }
}

@media screen and (max-width: 1024px) {
  .doctorList {
    .card {
      .black {
        display: none;
      }
      .doctorContent {
        opacity: 1;
        background-color: white;
        height: 50px;
        top: auto;
        border: solid !important;
        border-width: 1px 0 0 0 !important;
        border-color: lightgray !important;
        display: flex;
        overflow: hidden;

        .header {
          color: black;
          font-size: 18px !important;
          margin: auto !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .doctorList {
    width: 690px;

    .doctorNav {
      position: relative;
    }

    .card {
      width: 300px;
      height: 384px;
      margin: 30px;
    }
    .card:nth-child(4n+4) {
      margin-left: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .doctorList {
    width: 470px;

    .card {
      width: 220px;
      height: 281px;
      margin: 10px;

      .doctorContent {
        height: 75px;

        .header {
          font-size: 28px !important;
        }
      }
    }
    .card:nth-child(4n+4) {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 500px) {
  .doctorList {
    width: 340px;

    .card {
      width: 340px;
      height: 435px;
      margin: 30px 0;
    }
    .card:nth-child(4n+4) {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .doctorList {
    width: 100%;

    .card {
      width: 100%;
      height: 410px;
    }
  }
}