
// Videos List
.doctorsContainer {
  margin-bottom: 30px;
  margin-top: 30px;
}

.doctorList {
  margin: 20px auto auto;
  height: auto;
  width: 1380px;

  .articlesHeader {
    position: relative;
    top: -10px;
  }

  .doctorNav {
    width: 100%;
    text-align: center;
    clear: both;
  }

  .card {
    width: 460px;
    height: 460px;
    margin: 0;
    border-radius: 0!important;
    border-style: solid;
    border-color: white;
    border-width: 2px;

    .Image {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
      border-radius: 0!important;
    }

    .black {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
      border-radius: 0!important;
      background: black;
      opacity: 0;
      transition: all .4s ease-in-out;
    }

    .doctorContent {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 40px;
      margin: auto;
      text-align: center;
      z-index: 2;
      border: none !important;
      padding: 0;
      opacity: 0;
      transition: all .4s ease-in-out;

      .header {
        font-size: 30px !important;
        color: white;
        padding: 5px;
      }
    }
  }

  .card:hover {
    .black {
      opacity: 0.7;
      transition: all .4s ease-in-out;
    }
    .doctorContent {
      opacity: 1;
      transition: all .4s ease-in-out;
    }
  }

  .card:nth-child(3n+2) {
    clear: left;
    float: left;
    margin-top: 0;
  }

  .card:nth-child(3n+3) {
      float: left;
      margin-top: 0;
      margin-left: 0;
  }

  .card:nth-child(2) {
    margin-top: 0;
  }
}

@media screen and (max-width: 2170px) {
  .doctorList {
    width: 1260px;
    .card {
      width: 420px;
      height: 420px;
    }
  }
}

@media screen and (max-width: 1420px) {
  .doctorList {
    width: 870px;

    .card {
      width: 290px;
      height: 290px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .doctorList {
    .card {
      .black {
        display: none;
      }
      .doctorContent {
        opacity: 1;
        background-color: white;
        height: 50px;
        top: auto;
        border: solid !important;
        border-width: 1px 0 0 0 !important;
        border-color: lightgray !important;
        display: flex;
        overflow: hidden;

        .header {
          color: black;
          font-size: 18px !important;
          margin: auto !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .doctorList {
    width: 690px;

    .doctorNav {
      position: relative;
    }

    .card {
      width: 230px;
      height: 230px;
    }
  }
}

@media screen and (max-width: 768px) {
  .doctorList {
    width: 496px;

    .card {
      width: 496px;
      height: 496px;
      margin-bottom: 10px;
      clear: none;
      float: none;

      .doctorContent {
        height: 75px;

        .header {
          font-size: 28px !important;
        }
      }
    }
    .card:hover {
      .black {
        opacity: 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .doctorList {
    width: 400px;

    .card {
      width: 400px;
      height: 400px;
    }
  }
}

@media screen and (max-width: 400px) {
  .doctorList {
    width: 100%;

    .card {
      width: 100%;
      height: 350px;
    }
  }
}