.homeTitle {
  font-size: 3em;
}

// Video Carousel
.videoCarousel {
  width: 1980px;
  margin: auto;
  overflow: hidden;

  .videoCard {
    padding: 10px;
    outline-color: white;

    .videoImage {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
    }

    .videoContent {
      z-index: 2;
      border-style: none;
      position: absolute;
      bottom: 0;
      padding: 5px;
      font-size: 10px;
    }
  }

  .slick-arrow {
    width: 64px;
    height: 64px;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
  }

  .slick-arrow::before {
    opacity: 1;
    color: #db2828;
    z-index: 1;
    font-size: 80px;
    position: relative;
    left: -8px;
    top: -3px;
  }

  .slick-prev {
    z-index: 60;
    left: 24%;
  }

  .slick-next {
    z-index: 60;
    right: 24%;
  }
  .slick-list {
    overflow: visible;
    height: 550px;
    top: 82px;
  }

  .card {
    transition: 0.5s ease;
    overflow: hidden;
    width: 100%;
    margin: 73px 0;
    min-height: 360px;
  }

  .slick-active .card {
    z-index: 25;
  }

  .slick-center .card {
    transform: scale(1.5);
    z-index: 50;
    transition: 0.5s ease;
  }
}

@media screen and (max-width: 2170px) {
  .videoCarousel {
    width: 1404px;

    .slick-list {
      top: 55px;
      height: 384px;
    }

    .card {
      min-height: 252px;
    }
  }
}

@media screen and (max-width: 1420px) {
  .videoCarousel {
    width: 880px;
    overflow: visible;

    .slick-prev {
      left: -2.5%;
    }

    .slick-next {
      right: -2.5%;
    }

    .slick-list {
      height: 520px;
      top: 0;
      overflow: hidden;
    }

    .card {
      min-height: 495px;
    }

    .slick-center .card {
      transform: scale(1);
    }
  }
}

@media screen and (max-width: 1020px) {
  .videoCarousel {
    width: 640px;

    .slick-prev {
      left: -3%;
    }
  
    .slick-next {
      right: -3%;
    }

    .slick-list {
      height: 385px;
    }

    .card {
      min-height: 360px;
    }
  }
}


.homeVideosContainer {
  .homeVideos {
    width: 496px;
    margin: auto;

    .card {
      width: 496px;
      height: 279px;
      margin-bottom: 20px;
      border-radius: 1.5em !important;

      .videoImage {
        width: 100%;
        height: 100%;
        margin: 0;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
        border-radius: 1.5em !important;
      }
    }
    .videoNav {
      width: 100%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .homeVideosContainer {
    .homeVideos {
      width: 400px;

      .card {
        width: 400px;
        height: 225px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .homeVideosContainer {
    .homeVideos {
      width: 100%;

      .card {
        width: 100%;
        height: 196px;
        border-radius: 0 !important;

        .videoImage {
          border-radius: 0 !important;
        }
      }
    }
  }
}

// Doctor Carousel

.doctorCarousel {
  width: 1820px;
  margin: 90px auto 40px;
  top: -75px;

  .card {
    border-radius: 0;
    overflow: hidden;
    width: 100%;
    height: 455px;

    .Image {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
    }

    .black {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
      border-radius: 0!important;
      background: black;
      opacity: 0;
      transition: all .4s ease-in-out;
    }

    .doctorContent {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 40px;
      margin: auto;
      text-align: center;
      z-index: 2;
      border: none !important;
      padding: 0;
      opacity: 0;
      transition: all .4s ease-in-out;

      .header {
        font-size: 30px !important;
        color: white;
        padding: 5px;
      }
    }
  }

  .card:hover {
    .black {
      opacity: 0.7;
      transition: all .4s ease-in-out;
    }
    .doctorContent {
      opacity: 1;
      transition: all .4s ease-in-out;
    }
  }

  .ui.card>:only-child {
    border-radius: 0!important;
  }

  .slick-arrow {
    width: 64px;
    height: 64px;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
  }

  .slick-arrow::before {
    opacity: 1;
    color: #db2828;
    z-index: 1;
    font-size: 80px;
    position: relative;
    left: -7px;
  }

  .slick-prev {
    left: -70px;
  }

  .slick-next {
    right: -70px;
  }
}

@media screen and (max-width: 2170px) {
  .doctorCarousel {
    width: 1240px;

    .card {
      height: 310px;
    }
  }
}

@media screen and (max-width: 1420px) {
  .doctorCarousel {
    width: 900px;

    .slick-prev {
      left: -30px;
    }

    .slick-next {
      right: -30px;
    }

    .card {
      height: 300px;
    }
  }
}

@media screen and (max-width: 1020px) {
  .doctorCarousel {
    width: 670px;

    .card {
      height: 335px;
    }

    .slick-prev {
      left: -33px;
    }

    .slick-next {
      right: -33px;
    }
  }
}

.homeExpertsContainer {
  margin-bottom: 130px;
  .homeExperts {
    width: 496px;
    margin: auto;

    .card {
      width: 496px;
      height: 496px;
      border-radius: 0!important;
      border-style: solid;
      border-color: white;
      border-width: 2px;

      .Image {
        width: 100%;
        height: 100%;
        margin: 0;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
      }

      .doctorContent {
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 75px;
        margin: auto;
        background-color: white;
        text-align: center;
        z-index: 2;
        border: none !important;
        padding: 0;
        border: solid !important;
        border-width: 1px 0 0 0 !important;
        border-color: lightgray !important;
        display: flex;
        border-radius: 0 !important;

        .header {
          font-size: 28px !important;
          padding: 5px;
          margin: auto;
        }
      }
    }
    .videoNav {
      width: 100%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .homeExpertsContainer {
    margin-bottom: 110px;
    .homeExperts {
      width: 400px;

      .card {
        width: 400px;
        height: 400px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .homeExpertsContainer {
    .homeExperts {
      width: 100%;

      .card {
        width: 100%;
        height: 350px;
      }
    }
  }
}

//Survey

.survey {
  background:gray;
  position: relative;
  height: 530px;
  top: -75px;

  .surveySegment {
    width: 1980px;
    height: 413px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .segment{
      padding: 35px;
      border-radius: 2em;

      .header {
        font-size: 5em;
      }

      .paragraph {
        font-size: 32px;
        width: 80%;
        margin: auto auto 25px auto;
      }

      .input {
        display: block;
        font-size: 2em;
        width: 1200px;
        margin: auto auto 10px auto;
        input {
          padding: 0.5em 1em;
          border-radius: 2em;
          width: 100%;
        }
      }

      .ui.button {
        font-size: 2em;
        padding: 0.75em 3.5em;
        border-radius: 1.75em;
      }
    }
  }
}

@media screen and (max-width: 2170px) {
  .survey {
    .surveySegment {
      width: 1404px;
      .segment {
        .input {
          width: 800px;
        }
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .survey {
    height: 570px;
    .surveySegment {
      width: 972px;
      height: 452px;
      .segment {
        .paragraph {
          width: 100%;
        }
        .input {
          width: 700px;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .survey {
    .surveySegment {
      width: 744px;
      height: 362px;
      .segment {
        padding: 15px;

        .header {
          font-size: 4em;
        }

        .paragraph {
          font-size: 27px;
        }

        .input {
          width: 600px;
          font-size: 1.5em;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .survey {
    height: 310px;
    .surveySegment {
      width: 100%;
      height: auto;
      .segment {
        height: auto;
        border-radius: 0;
        .header {
          font-size: 4em;
        }
        .paragraph {
          font-size: 24px;
        }
        .input {
          width: 460px;
          font-size: 2em;
        }
        .ui.button {
          font-size: 1.5em;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .survey {
    height: 210px;
    .surveySegment {
      .segment {
        padding: 15px 5px;
        .header {
          font-size: 3em;
        }
        .paragraph {
          font-size: 16px;
        }
        .input {
          font-size: 1.5em;
          width: 380px;
        }
        .ui.button {
          font-size: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .survey {
    .surveySegment {
      .segment {
        .input {
          width: 300px;
        }
      }
    }
  }
}

// Main Articles

.mainArticles {
  display: flex;
  flex-wrap: wrap;
  width: 1980px;
  margin: auto;
  .ui.card {
    margin: 10px;
    height: 480px;
    width: 640px;
    border-radius: 1.5em;

    .Image {
      border-radius: 1.5em 1.5em 0 0!important;
      height: 360px;
    }

    .content {
      .header {
        font-size: 26px;
      }
      .description {
        font-size: 16px;
        margin-top: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 2170px) {
  .mainArticles {
    width: 1404px;

    .ui.card {
      height: 372px;
      width: 448px;
      .Image {
        height: 252px;
      }
    }
  }
}


@media screen and (max-width: 1420px) {
  .mainArticles {
    width: 972px;

    .ui.card {
      height: 271px;
      width: 304px;

      .Image {
        height: 171px;
      }
      .content {
        .header {
          font-size: 20px;
        }
        .description {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .mainArticlesContainer {
    width: 744px;
    margin: auto;
  }
  .mainArticles {
    width: 744px;

    .ui.card {
      width: 352px;
      height: 298px;

      .Image {
        height: 198px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mainArticlesContainer {
    width: 496px;
  }
  .mainArticles {
    width: 496px;
    display: inline-block;

    .ui.card {
      width: 496px;
      height: 399px;
      margin: 0 0 20px;

      .Image {
        height: 279px;
      }
      .content {
        .header {
          font-size: 26px;
        }
        .description {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .mainArticlesContainer {
    width: 400px;
  }
  .mainArticles {
    width: 400px;

    .ui.card {
      width: 400px;
      height: 325px;

      .Image {
        height: 225px;
      }
      .content {
        .header {
          font-size: 20px;
        }
        .description {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .mainArticlesContainer {
    width: 100%;
  }
  .mainArticles {
    width: 100%;
    .ui.card {
      width: 100%;
      height: 298px;
      border-radius: 0 !important;
      border-style: solid;
      border-width: 1px;
      border-color: lightgray;

      .Image {
        height: 198px;
        border-radius: 0 !important;
      }
    }
  }
}

// Product Carousel
.recomendedProducts {
  clear: both;
}
.productCarousel {
  width: 100%;
  margin: auto;
  overflow: hidden;

  .slick-arrow {
    left: 8%;
    visibility: hidden;
  }

  .card {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
  }
}