.infoDescriptionContainer {
  margin-top: 20px;
  .description {
    width: 1900px;
    margin: auto auto 30px;
    min-height: 690px;

    .articlesHeader {
      position: relative;
      top: -10px;
    }

    img {
      width: 604px;
      float: left;
      box-shadow: 0px 2px 10px 4px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
    }

    .text {
      width: 1286px;
      margin-left: 614px;

      p {
        font-style: italic;
        font-size: 22px;
        margin-bottom: 3px;
      }
      ul {
        font-style: italic;
        font-size: 22px;
        margin: 4px;
      }
      .title {
        font-size: 34px;
        font-weight: 600;
      }
      .paragraphTitle {
        font-size: 28px;
        font-weight: 600;
      }
    }
  }
}

.infoNewsletter {
  margin-top: 20px;
  .newsletter {
    width: 1980px;
    margin: auto;
    padding: 20px 180px;
    border-radius: 0;
    box-shadow: 0 2px 10px 8px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15) !important;
    .header {
      font-size: 34px;
      margin-top: 20px;
      color: #db2828;
    }
    .paragraph {
      font-size: 49px;
      line-height: 51px;
      margin-bottom: 20px;
    }
    .input {
      font-size: 30px;
      width: 1500px;
      margin-bottom: 20px;
      input {
        padding: 20px 34px;
        background-color: #f5ccba;
        border-radius: 0;
      }
      input::placeholder {
        color: #e47e64;
      }
    }
    .checkbox {
      font-size: 23px;
      line-height: 26px;
      margin-bottom: 20px;
      text-align: justify;
      label {
        padding-left: 60px;
        padding-right: 60px;
      }
      label::before {
        width: 40px;
        height: 40px;
        border-color: #db2828 !important;
      }
      label::after {
        font-size: 40px;
        width: 40px;
        height: 28px;
        top: 6px;
      }
    }
    .button {
      font-size: 34px;
      padding: 25px 40px;
      margin-top: 20px;
      margin-bottom: 20px;
      color: black;
      background-color: white;
      border-style: solid;
      border-radius: 0;
    }
  }
}

@media screen and (max-width: 2170px) {
  .infoDescriptionContainer {
    .description {
      width: 1350px;
      min-height: 560px;
  
      img {
        width: 500px;
      }
  
      .text {
        width: 840px;
        margin-left: 510px;
  
        p {
          font-size: 18px;
          line-height: 21px;
        }
        ul {
          font-size: 18px;
          line-height: 21px;
        }
        .title {
          font-size: 30px;
          line-height: 30px
        }
        .paragraphTitle {
          font-size: 21px;
          line-height: 22px;
        }
      }
    }
  }
  
  .infoNewsletter {
    .newsletter {
      width: 1404px;
      padding: 20px 130px;
      .header {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .paragraph {
        font-size: 32px;
        line-height: 34px;
        margin-bottom: 15px;
      }
      .input {
        font-size: 20px;
        width: 1050px;
        margin-bottom: 15px;
      }
      .checkbox {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 10px;
        label {
          padding-left: 45px;
          padding-right: 45px;
        }
        label::before {
          width: 30px;
          height: 30px;
        }
        label::after {
          font-size: 30px;
          width: 30px;
          height: 30px;
          top: 5px;
        }
      }
      .button {
        font-size: 26px;
        padding: 15px 35px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .infoDescriptionContainer {
    .description {
      width: 932px;
      min-height: 400px;
  
      img {
        width: 355px;
        height: 355px;
        margin-right: 6px;
      }
  
      .text {
        width: 932px;
        margin-left: 0;
  
        p {
          font-size: 17px;
          line-height: 16px;
          margin-bottom: 5px;
        }
        ul {
          font-size: 16px;
          line-height: 17px;
        }
        .title {
          font-size: 26px;
          line-height: 27px
        }
        .paragraphTitle {
          font-size: 20px;
          line-height: 21px;
        }
      }
    }
  }
  
  .infoNewsletter {
    .newsletter {
      width: 972px;
      padding: 20px 70px;
      .header {
        font-size: 24px;
      }
      .paragraph {
        font-size: 25px;
        line-height: 27px;
      }
      .input {
        font-size: 18px;
        width: 740px;
        input {
          padding: 15px 25px;
        }
      }
      .checkbox {
        label::before {
          width: 27px;
          height: 27px;
        }
        label::after {
          font-size: 27px;
          width: 27px;
          height: 27px;
          top: 6px;
        }
      }
      .button {
        font-size: 24px;
        padding: 15px 25px;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .infoDescriptionContainer {
    .description {
      width: 706px;
      min-height: 370px;
  
      img {
        width: 300px;
        height: 300px;
        margin-right: 10px;
      }
  
      .text {
        width: 706px;
        margin: 0px;
  
        p {
          line-height: 18px;
          margin-bottom: 3px;
        }
      }
    }
  }
  
  .infoNewsletter {
    .newsletter {
      width: 746px;
      padding: 20px;
      .header {
        font-size: 19px;
      }
      .paragraph {
        font-size: 26px;
        line-height: 28px;
      }
      .input {
        font-size: 17px;
        width: 635px;
        input {
          padding: 10px 20px;
        }
      }
      .checkbox {
        font-size: 15px;
        line-height: 16px;
        label {
          padding-left: 35px;
          padding-right: 35px;
        }
        label::before {
          width: 20px;
          height: 20px;
        }
        label::after {
          font-size: 20px;
          width: 20px;
          height: 20px;
          top: 2px;
        }
      }
      .button {
        font-size: 20px;
        padding: 10px 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .infoDescriptionContainer {
    .description {
      width: 496px;
      height: auto;
  
      img {
        width: 375px;
        height: 375px;
        float: none;
        display: inherit;
        margin: auto;
      }
  
      .text {
        width: 486px;
        margin: 10px;
      }
    }
  }
  
  .infoNewsletter {
    .newsletter {
      width: 100%;
      padding: 10px;
      .paragraph {
        font-size: 25px;
        line-height: 27px;
      }
      .input {
        display: block;
        width: 475px;
        margin: 0 auto 15px auto;
        input {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .infoDescriptionContainer {
    .description {
      width: 400px;
  
      img {
        width: 375px;
        height: 375px;
      }
  
      .text {
        width: 380px;
      }
    }
  }
  
  .infoNewsletter {
    .newsletter {
      padding: 5px;
      .header {
        font-size: 17px;
      }
      .paragraph {
        font-size: 21px;
        line-height: 23px;
      }
      .input {
        width: 390px;
        font-size: 17px;
        input {
          padding: 8px 15px;
        }
      }
      .checkbox {
        font-size: 12px;
        line-height: 13px;
      }
      .button {
        font-size: 17px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .infoDescriptionContainer {
    .description {
      width: 100%;
  
      img {
        width: 100%;
        height: 350px;
      }
  
      .text {
        width: 100%;
        margin: 0;
        padding: 10px;
      }
    }
  }
  
  .infoNewsletter {
    .newsletter {
      width: 100%;
      .input {
        width: 280px;
      }
    }
  }
}