// Main Movies

.mainMoviesHeader {
  width: 330px;
  margin: 30px auto 5px !important;
  background-color: white;
  z-index: 2;
}
.whiteMainMovies {
  height: auto;
}
.mainMovies {
  width: 1944px;
  margin: auto;
  overflow: hidden;
  padding-bottom: 10px;
  .card {
    width: 608px;
    height: 342px;
    margin: 20px;
    margin-top: 20px !important;
    border-radius: 0;
    float: left;
    box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3);
    .image {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}

@media screen and (max-width: 2170px) {
  .mainMoviesHeader {
    margin: 20px auto 5px !important;
    width: 240px;
  }
  .mainMovies {
    width: 1356px;
    .card {
      width: 432px;
      height: 243px;
      margin: 10px;
      margin-top: 10px !important;
    }
  }
}

@media screen and (max-width: 1440px) {
  .mainMoviesHeader {
    width: 190px;
  }
  .mainMovies {
    width: 924px;
    .card {
      width: 288px;
      height: 162px;
    }
  }
}

@media screen and (max-width: 1020px) {
  .mainMoviesHeader {
    width: 210px;
  }
  .mainMovies {
    width: 712px;
    .card {
      width: 336px;
      height: 189px;
    }
  }
}

@media screen and (max-width: 768px) {
  .mainMovies {
    width: 500px;
    .card {
      width: 480px;
      height: 270px;
      margin: 0 10px 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .mainMovies {
    width: 400px;
    .card {
      width: 380px;
      height: 213px;
      margin: 0 10px 20px;
    }
  }
}

@media screen and (max-width: 400px) {
  .mainMovies {
    width: 100%;
    .card {
      width: 100%;
      height: 196px;
      margin: 0 0 20px;
    }
  }
}
