// Main Articles

.mainArticlesHeader {
  width: 380px;
  margin: 30px auto 5px !important;
  background-color: white;
  z-index: 2;
}
.mainArticles {
  width: 1880px;
  height: auto;
  margin: auto;
  overflow: hidden;
  .card {
    margin: 10px;
    margin-bottom: 13px;
    overflow: hidden;
    height: 600px;
    width: 450px;
    float: left;
    border-radius: 0;
    box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3);
    .image {
      height: 100%;
      width: 100%;
      position: absolute;
    }
    .black {
      width: 100%;
      height: 100%;
      position: absolute;
      background: black;
      opacity: 0;
      transition: all .4s ease-in-out;
    }
    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      border: none !important;
      padding: 0;
      opacity: 0;
      transition: all .4s ease-in-out;
      .header {
        font-size: 35px;
        color: white;
        padding: 5px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: 0;
        margin-right: -50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  .card:hover {
    .black {
      opacity: 0.7;
      transition: all .4s ease-in-out;
    }
    .content {
      opacity: 1;
      transition: all .4s ease-in-out;
    }
  }
  .card:first-child {
    margin-top: 10px;
  }
}

@media screen and (max-width: 2170px) {
  .mainArticlesHeader {
    width: 280px;
    margin: 20px auto 5px !important;
  }
  .mainArticles {
    width: 1360px;
    .card {
      height: 440px;
      width: 320px;
      .content {
        .header {
          font-size: 25px;
        }
      }
    }
  }
}


@media screen and (max-width: 1440px) {
  .mainArticlesHeader {
    width: 230px;
  }
  .mainArticles {
    width: 932px;
    .card {
      height: 283px;
      width: 213px;
      .content {
        .header {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .mainArticles {
    .card {
      .content {
        opacity: 1;
        width: 100%;
        height: 70px;
        margin: auto;
        background-color: white;
        border: solid !important;
        border-width: 1px!important;
        border-color: lightgray !important;
        display: flex;
        position: absolute;
        bottom: 0;
        overflow: hidden;
        text-align: left;
        .header {
          font-size: 16px;
          padding: 5px;
          margin: auto;
          color: black;
          width: 100%;
          height: 100%;
          line-height: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .mainArticlesHeader {
    width: 240px;
  }
  .mainArticles {
    width: 700px;
    padding-bottom: 20px;
    .card {
      width: 330px;
      height: 440px;
      margin: 10px;
      .content {
        height: 80px;
        .header {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
    .card:first-child {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .mainArticles {
    width: 500px;
    .card {
      width: 230px;
      height: 306px;
      box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3);
      .content {
        height: 68px;
        .header {
          font-size: 15px;
          line-height: 19px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .mainArticles {
    width: 350px;
    .card {
      width: 330px;
      height: 440px;
      margin: 0 10px 20px;
      .content {
        height: 80px;
        .header {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .mainArticles {
    width: 100%;
    .card {
      width: 100%;
      height: 450px;
      margin: 0 auto 20px;
    }
  }
}

// Expert Other Articles Header
.otherArticlesHeader {
  width: 400px;
  margin: 30px auto 5px !important;
  background-color: white;
  z-index: 2;
}
@media screen and (max-width: 2170px) {
  .otherArticlesHeader {
    width: 300px;
    margin: 20px auto 5px !important;
  }
}

@media screen and (max-width: 1440px) {
  .otherArticlesHeader {
    width: 240px;
  }
}

@media screen and (max-width: 1020px) {
  .otherArticlesHeader {
    width: 260px;
  }
}