.infoNewsletter {
  margin-top: 20px;
  .newsletter {
    width: 1980px;
    margin: auto;
    padding: 20px 180px;
    border-radius: 0;
    box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3) !important;
    .header {
      font-size: 34px;
      margin: 15px auto 10px;
      color: #db2828;
      background-color: white;
      z-index: 2;
      width: 440px;
      position: relative;
    }
    .paragraph {
      font-size: 49px;
      line-height: 51px;
      margin-bottom: 20px;
    }
    .input {
      font-size: 30px;
      width: 1500px;
      margin-bottom: 20px;
      input {
        padding: 20px 34px;
        background-color: #f5ccba;
        color: #e47e64;
        border-radius: 0;
      }
      input::placeholder {
        color: #e47e64;
      }
      input:focus {
        background-color: #f5ccba;
        color: #e47e64;
        border-radius: 0;
      }
    }
    .checkbox {
      font-size: 23px;
      line-height: 26px;
      margin-bottom: 20px;
      text-align: justify;
      label {
        padding-left: 60px;
        padding-right: 60px;
      }
      label::before {
        width: 40px;
        height: 40px;
        border-color: #db2828 !important;
      }
      label::after {
        font-size: 40px;
        width: 40px;
        height: 28px;
        top: 6px;
      }
    }
    .button {
      font-size: 34px;
      padding: 25px 40px;
      margin-top: 20px;
      margin-bottom: 20px;
      color: black;
      background-color: white;
      transition: background-color 0.5s;
      border-style: solid;
      border-radius: 0;
    }
    .button:hover {
      background-color: rgba(0,0,0,.05);
      transition: background-color 0.5s;
    }
  }
}

@media screen and (max-width: 2170px) {
  .infoNewsletter {
    .newsletter {
      width: 1404px;
      padding: 20px 130px;
      .header {
        font-size: 24px;
        width: 310px;
        margin: 6px auto 10px;
      }
      .paragraph {
        font-size: 32px;
        line-height: 34px;
        margin-bottom: 15px;
      }
      .input {
        font-size: 20px;
        width: 1050px;
        margin-bottom: 15px;
      }
      .checkbox {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 10px;
        label {
          padding-left: 45px;
          padding-right: 45px;
        }
        label::before {
          width: 30px;
          height: 30px;
        }
        label::after {
          font-size: 30px;
          width: 30px;
          height: 30px;
          top: 5px;
        }
      }
      .button {
        font-size: 26px;
        padding: 15px 35px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .infoNewsletter {
    .newsletter {
      width: 972px;
      padding: 20px 70px;
      .header {
        font-size: 22px;
        width: 280px;
        margin: 1px auto 10px;
      }
      .paragraph {
        font-size: 25px;
        line-height: 27px;
      }
      .input {
        font-size: 18px;
        width: 740px;
        input {
          padding: 15px 25px;
        }
      }
      .checkbox {
        label::before {
          width: 27px;
          height: 27px;
        }
        label::after {
          font-size: 27px;
          width: 27px;
          height: 27px;
          top: 6px;
        }
      }
      .button {
        font-size: 24px;
        padding: 15px 25px;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .infoNewsletter {
    .newsletter {
      width: 746px;
      padding: 20px;
      .header {
        font-size: 19px;
        margin: 4px auto 10px;
        width: 250px;
      }
      .paragraph {
        font-size: 26px;
        line-height: 28px;
      }
      .input {
        font-size: 17px;
        width: 635px;
        input {
          padding: 10px 20px;
        }
      }
      .checkbox {
        font-size: 13px;
        line-height: 14px;
        label {
          padding-left: 35px;
          padding-right: 35px;
        }
        label::before {
          width: 20px;
          height: 20px;
        }
        label::after {
          font-size: 20px;
          width: 20px;
          height: 20px;
          top: 2px;
        }
      }
      .button {
        font-size: 18px;
        padding: 10px 15px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .infoNewsletter {
    .newsletter {
      width: 100%;
      padding: 10px;
      .header {
        margin: 14px auto 10px;
      }
      .paragraph {
        font-size: 25px;
        line-height: 27px;
      }
      .input {
        display: block;
        width: 460px;
        margin: 0 auto 15px auto;
        input {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .infoNewsletter {
    .newsletter {
      padding: 5px;
      .header {
        font-size: 17px;
        width: 225px;
        margin: 20px auto 10px;
      }
      .paragraph {
        font-size: 21px;
        line-height: 23px;
      }
      .input {
        width: 360px;
        font-size: 17px;
        input {
          padding: 8px 15px;
        }
      }
      .checkbox {
        font-size: 12px;
        line-height: 13px;
        label {
          padding-left: 30px;
          padding-right: 15px;
        }
      }
      .button {
        font-size: 17px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .infoNewsletter {
    .newsletter {
      width: 100%;
      .input {
        width: 280px;
      }
      .checkbox {
        label {
          padding-right: 5px;
        }
      }
    }
  }
}