// Product Carousel
.productHeader {
  width: 360px;
}
.recomendedProducts {
  position: relative;
  font-size: 38px !important;
  margin: auto !important;
  color: #db2828 !important;
  border-style: solid !important;
  padding: 10px !important;
  border-bottom-color: #db2828 !important;
  border-bottom-width: 2px !important;
  margin-bottom: 50px !important;
  margin-top: 40px !important;
  clear: both;
}
.productCarousel {
  width: 1904px;
  margin: auto;
  overflow: hidden;
  .slick-arrow {
    left: 8%;
    visibility: hidden;
  }
  .card {
    width: 100%;
    height: 260px;
    padding: 13px 10px;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    .productPicture {
      position: relative;
      height: 234px;
      background-color: white;
      border-style: solid !important;
      border-width: 1px 1px 0 1px !important;
      border-color: lightgray !important;
      .image {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
    .content {
      border-style: solid;
      border-width: 0 1px 1px 1px;
      border-color: lightgray;
      text-align: center;
      padding: 10px;
      .header {
        font-size: 20px !important;
        font-weight: 600;
        height: 75px;
        overflow: hidden;
        margin-bottom: 10px;
        color: black;
      }
      .description {
        font-size: 20px;
        font-weight: 600;
        margin-top: 0 !important;
        color: #db2828;
      }
    }
  }
}

@media screen and (max-width: 2170px) {
  .productHeader {
    width: 300px;
  }
  .recomendedProducts {
    font-size: 32px !important;
    margin-bottom: 35px !important;
  }
  .productCarousel {
    width: 1332px;
    .card {
      height: 215px;
      .productPicture {
        height: 189px;
      }
      .content {
        padding: 5px;
        .header {
          font-size: 17px !important;
          height: 62px;
        }
        .description {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .recomendedProducts {
    font-size: 32px !important;
    margin-bottom: 35px !important;
  }
  .productCarousel {
    width: 935px;
    .card {
      height: 180px;
      .productPicture {
        height: 154px;
      }
      .content {
        .header {
          font-size: 14px !important;
          height: 50px;
        }
        .description {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .productHeader {
    width: 235px;
  }
  .recomendedProducts {
    font-size: 24px !important;
  }
  .productCarousel {
    width: 746px;
  }
}

@media screen and (max-width: 768px) {
  .recomendedProducts {
    margin-bottom: 10px !important;
  }
  .productCarousel {
    width: 100%;
    .slick-list {
      width: 1072px;
      overflow: visible;
      .card {
        .content {
          padding: 5px;
          .header {
            font-size: 15px !important;
          }
          .description {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .productCarousel {
    .slick-list {
      width: 872px;
    }
  }
}

@media screen and (max-width: 400px) {
  .productHeader {
    width: 200px;
  }
  .recomendedProducts {
    font-size: 20px !important;
  }
  .productCarousel {
    .slick-list {
      .card {
        .content {
          .header {
            font-size: 14px !important;
          }
          .description {
            font-size: 14px;
          }
        }
      }
    }
  }
}
