// Product Carousel
.recomendedProducts {
  position: relative;
  font-size: 38px !important;
  color: #db2828 !important;
  clear: both;
}
.productHeader {
  width: 370px;
  margin: 30px auto 5px !important;
  background-color: white;
  z-index: 2;
}
.productCarousel {
  width: 1904px;
  margin: auto;
  .card {
    width: 100%;
    height: 390px;
    padding: 13px 10px;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    a {
      box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3);
      background-color: white !important;
      height: 100%;
    }
    .productPicture {
      position: relative;
      height: 234px;
      background-color: white !important;
      border-style: solid !important;
      border-width: 1px 1px 0 1px !important;
      border-color: lightgray !important;
      .image {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
    .content {
      border-style: solid;
      border-width: 0 1px 1px 1px;
      border-color: lightgray;
      background-color: white !important;
      text-align: center;
      padding: 10px;
      .header {
        font-size: 20px !important;
        font-weight: 600;
        height: 58px;
        overflow: hidden;
        margin-bottom: 21px;
        color: black;
      }
      .description {
        font-size: 22px;
        font-weight: 600;
        margin-top: 0 !important;
        color: #db2828;
      }
    }
  }
  .slick-arrow {
    width: 50px;
    height: 50px;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
  }
  .slick-arrow::before {
    opacity: 1;
    color: #db2828;
    z-index: 1;
    font-size: 66px;
    position: relative;
    left: -10px;
    top: -3px;
  }
  .slick-prev {
    left: -10px;
  }
  .slick-next {
    right: -20px;
  }
}

@media screen and (max-width: 2170px) {
  .recomendedProducts {
    font-size: 28px !important;
  }
  .productHeader {
    margin: 20px auto 5px !important;
    width: 270px;
  }
  .productCarousel {
    width: 1332px;
    .card {
      height: 312px;
      .productPicture {
        height: 189px;
      }
      .content {
        padding: 5px;
        .header {
          font-size: 17px !important;
          height: 48px;
          margin-bottom: 10px;
        }
        .description {
          font-size: 21px;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .recomendedProducts {
    font-size: 22px !important;
  }
  .productHeader {
    width: 220px;
  }
  .productCarousel {
    width: 935px;
    .card {
      height: 282px;
      padding: 13px 6px;
      a {
        box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
      }
      .productPicture {
        height: 154px;
      }
      .content {
        .header {
          font-size: 14px !important;
          height: 58px;
        }
        .description {
          font-size: 17px;
        }
      }
    }
    .slick-arrow {
      width: 30px;
      height: 30px;
    }
    .slick-arrow::before {
      font-size: 40px;
      left: -4px;
      top: -2px;
    }
    .slick-prev {
      left: -5px;
    }
    .slick-next {
      right: -5px;
    }
  }
}

@media screen and (max-width: 1020px) {
  .recomendedProducts {
    font-size: 24px !important;
  }
  .productHeader {
    width: 240px;
  }
  .productCarousel {
    width: 708px;
    .card {
      padding: 13px 5px;
      a {
        box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.3);
      }
    }
    .slick-prev {
      left: -10px;
    }
    .slick-next {
      right: -10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .productCarousel {
    width: 100%;
    overflow: hidden;
    .slick-list {
      width: 1072px;
      overflow: visible;
      .card {
        height: 277px;
        .content {
          padding: 4px;
          .header {
            font-size: 15px !important;
          }
          .description {
            font-size: 15px;
          }
        }
      }
    }
    .slick-prev {
      left: 1px;
    }
    .slick-next {
      right: 4px;
    }
  }
}

@media screen and (max-width: 500px) {
  .productCarousel {
    .slick-list {
      width: 872px;
    }
  }
}

@media screen and (max-width: 400px) {
  .productCarousel {
    .slick-list {
      .card {
        .content {
          .header {
            font-size: 14px !important;
          }
        }
      }
    }
  }
}
