.searchResultsContainer {
  width: 1980px;
  margin: 70px auto auto;
  .item {
    background-color: #eeeeee !important;
  }
  .active.item {
    background-color: white !important;
  }
  .segment {
    height: auto;
    overflow: hidden;
    box-shadow: 4px 6px 12px 0px rgba(0, 0, 0, 0.3) !important;
    border-radius: 0 !important;
    padding: 15px 0 !important;
    .videoNav {
      text-align: center;
      clear: both;
    }
    .noMatch {
      padding: 10px 15px;
      font-size: 23px;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 2170px) {
  .searchResultsContainer {
    width: 1404px;
  }
}

@media screen and (max-width: 1440px) {
  .searchResultsContainer {
    width: 972px;
    .item {
      padding: 5px 15px !important;
    }
  }
}

@media screen and (max-width: 1020px) {
  .searchResultsContainer {
    width: 746px;
  }
}

@media screen and (max-width: 768px) {
  .searchResultsContainer {
    width: 100%;
    margin: 53px auto auto;
    .item {
      padding: 5px 25px !important;
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 500px) {
  .searchResultsContainer {
    .tabular {
      background-color: #eeeeee !important;
    }
  }
}

@media screen and (max-width: 400px) {
  .searchResultsContainer {
    .item {
      padding: 5px 18px !important;
    }
  }
}