
// Videos List
.moviesHeader {
  width: 130px;
  margin: 30px auto 35px !important;
  background-color: white;
  z-index: 2;
}
// Pages and Newsletter
.videoContainer {
  display: flex;
  width: 1980px;
  margin: 130px auto auto;
  // Pages
  .videoList {
    margin: 0 0 auto auto;
    height: 1565px;
    width: 1225px;
    position: relative;
    background-color: white;
    box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3);
    .videoNav {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      clear: both;
    }
    .card {
      width: 560px;
      height: 315px;
      margin: 35px;
      box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3);
      .image {
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
    .card:nth-child(odd) {
      clear: left;
      float: left;
      margin-top: 0;
    }
    .card:nth-child(3) {
      margin-top: 0px;
    }
  }
  // Newsletter
  .newsletterContainer {
    width: 755px;
  }
  .newsletter {
    .redLine {
      visibility: hidden;
    }
    height: 1452px;
    width: 716px;
    margin: 40px!important;
    margin-right: 0;
    padding: 35px;
    position: relative;
    top: 18px;
    box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3) !important;
    border-radius: 0;
    .header {
      font-size: 34px;
      margin-top: 20px;
      margin-bottom: 30px;
      color: #db2828;
    }
    .paragraph {
      font-size: 44px;
      margin-bottom: 80px;
    }
    .input {
      width: 600px;
      display: block;
      font-size : 30px;
      margin: auto auto 80px auto;
      input {
        padding: 0.5em 0.6em;
        width: 100%;
        background-color: #f5ccba;
        color: #e47e64;
        border-radius: 0;
      }
      input::placeholder {
        color: #e47e64;
      }
      input:focus {
        background-color: #f5ccba;
        color: #e47e64;
        border-radius: 0;
      }
    }
    .checkbox {
      font-size: 24px;
      margin-bottom: 60px;
      line-height: normal;
      label {
        padding-left: 80px;
        text-align: justify;
      }
      label::before {
        width: 51px;
        height: 51px;
        border-color: #db2828 !important;
      }
      label::after {
        font-size: 51px;
        width: 51px;
        height: 51px;
      }
    }
    .button {
      margin-bottom: 40px;
      font-size: 40px;
      padding: 20px;
      color: black;
      background-color: white;
      transition: background-color 0.5s;
      border-style: solid;
      border-radius: 0;
    }
    .button:hover {
      background-color: rgba(0,0,0,.05);
      transition: background-color 0.5s;
    }
  }
}

@media screen and (max-width: 2170px) {
  .moviesHeader {
    width: 90px;
    margin: 20px auto 30px !important;
  }
  // Pages and Newsletter
  .videoContainer {
    width: 1404px;
    // Pages
    .videoList {
      height: 1180px;
      width: 922px;
      .card {
        width: 416px;
        height: 234px;
        margin: 30px;
      }
    }
    // Newsletter
    .newsletterContainer {
      width: 482px;
    }
    .newsletter {
      height: 1083px;
      width: 458px;
      padding: 25px;
      margin: 25px !important;
      top: 25px;
      .header {
        font-size: 24px;
        margin-top: 40px;
      }
      .paragraph {
        font-size: 27px;
        margin-bottom: 40px;
      }
      .input {
        width: 375px;
        font-size: 24px;
        margin: auto auto 40px auto;
      }
      .checkbox {
        font-size: 18px;
        margin-bottom: 30px;
        label {
          padding-left: 38px;
        }
        label::before {
          width: 34px;
          height: 34px;
        }
        label::after {
          width: 34px;
          height: 34px;
          font-size: 34px;
        }
      }
      .button {
        font-size: 28px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .moviesHeader {
    width: 75px;
    margin: 20px auto 15px !important;
  }
  // Pages and Newsletter
  .videoContainer {
    width: 972px;
    margin: 70px auto auto;
    // Pages
    .videoList {
      height: 855px;
      width: 653px;
      .card {
        width: 304px;
        height: 171px;
        margin: 15px;
      }
    }
    // Newsletter
    .newsletterContainer {
      width: 319px;
    }
    .newsletter {
      height: 766px;
      width: 302px;
      margin: 15px !important;
      margin-right: 0;
      padding: 15px;
      top: 30px;
      .header {
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 20px;
      }
      .paragraph {
        font-size: 18px;
        margin-bottom: 30px;
      }
      .input {
        font-size : 16px;
        margin: auto auto 25px auto;
        width: 230px;
      }
      .checkbox {
        font-size: 13px;
        margin-bottom: 20px;
        label {
          padding-left: 32px;
        }
        label::before {
          width: 28px;
          height: 28px;
        }
        label::after {
          width: 28px;
          height: 28px;
          font-size: 28px;
        }
      }
      .button {
        font-size: 20px;
        padding: 15px 20px;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .moviesHeader {
    padding-top: 20px !important;
  }
  // Pages and Newsletter
  .videoContainer {
    display: inline;
    position: relative;
    // Pages
    .videoList {
      height: auto;
      width: 749px;
      margin: 70px auto;
      .videoNav {
        position: relative;
      }
      .card {
        width: 352px;
        height: 198px;
        margin: 15px;
      }
    }
    // Newsletter
    .newsletterContainer {
      width: 100%;
      margin: 70px auto;
    }
    .newsletter {
      .redLine {
        visibility: visible;
      }
      top: 0;
      height: auto;
      width: 746px;
      margin: auto !important;
      padding: 20px; 
      border-radius: 0;
      .header {
        font-size: 19px;
        margin: 4px auto 10px;
        width: 260px;
        background-color: white;
        z-index: 2;
        position: relative;
      }
      .paragraph {
        font-size: 26px;
        line-height: 28px;
        margin-bottom: 15px;
      }
      .input {
        width: 635px;
        font-size: 17px;
        margin: 0 auto 15px auto;
        input {
          padding: 10px 20px;
        }
      }
      .checkbox {
        font-size: 13px;
        line-height: 14px;
        margin-bottom: 10px;
        label {
          padding-left: 35px;
          padding-right: 35px;
        }
        label::before {
          width: 20px;
          height: 20px;
        }
        label::after {
          font-size: 20px;
          width: 20px;
          height: 20px;
          top: 2px;
        }
      }
      .button {
        font-size: 18px;
        padding: 10px 15px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  // Pages and Newsletter
  .videoContainer {
    // Pages
    .videoList {
      width: 100%;
      margin: 30px auto;
      .card {
        width: 480px;
        height: 270px;
        margin: 0 auto 20px;
      }
      .card:nth-child(3) {
        margin-top: 25px;
      }
      .card:first-child {
        margin-top: 20px;
      }
      .card:nth-child(odd) {
        float: none;
      }
    }
    // Newsletter
    .newsletterContainer {
      height: auto;
      margin: 30px auto;
    }
    .newsletter {
      width: 100%;
      padding: 10px;
      .header {
        margin: 14px auto 10px;
      }
      .paragraph {
        font-size: 25px;
        line-height: 27px;
        margin-bottom: 15px;
      }
      .input {
        font-size: 17px;
        width: 460px;
        margin: 0 auto 15px auto;
        input {
          padding: 10px 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  // Pages and Newsletter
  .videoContainer {
    // Pages
    .videoList {
      .card {
        width: 400px;
        height: 225px;
        .listContent {
          font-size: 13px;
        }
      }
      .card:first-child {
        margin-top: 20px;
      }
    }
    // Newsletter
    .newsletter {
      padding: 5px;
      .header {
        font-size: 17px;
        margin: 20px auto 10px;
        width: 230px;
      }
      .paragraph {
        font-size: 21px;
        line-height: 23px;
      }
      .input {
        width: 360px;
        input {
          padding: 8px 15px;
        }
      }
      .checkbox {
        font-size: 12px;
        line-height: 13px;
        label {
          padding-left: 30px;
          padding-right: 15px;
        }
      }
      .button {
        font-size: 17px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  // Pages and Newsletter
  .videoContainer {
    // Pages
    .videoList {
      width: 100%;
      margin: auto;
      .card {
        width: 100%;
        height: 198px;
        .listContent {
          padding: 10px;
        }
      }
      .card:first-child {
        margin-top: 20px;
      }
    }
    // Newsletter
    .newsletter {
      width: 100%;
      .input {
        width: 280px;
      }
      .checkbox {
        label {
          padding-right: 5px;
        }
      }
    }
  }
}
