.otherMovies {
  .header {
    font-size: 38px !important;
    clear: left;
  }
}

.pictureHeader {
  font-size: 38px;
  width: 2045px;
  margin: auto auto 10px;
}

.recomendedProducts {
  position: relative;
  font-size: 38px !important;
  margin: auto !important;
  color: #db2828 !important;
  border-style: solid !important;
  padding: 10px !important;
  border-bottom-color: #db2828 !important;
  border-bottom-width: 2px !important;
  margin-bottom: 50px !important;
  margin-top: 40px !important;
}

.videoPageContainer {
  width: 2000px;
  margin: 25px auto auto;
  height: auto;
  overflow: hidden;
  .main {
    margin: 10px 0 60px 10px;
    float: left;
    background-color: white;
    box-shadow: 0 2px 10px 6px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);

    .card {
      width: 1248px;
      height: 702px;
      margin: 60px auto 40px;
      border-radius: 0;
      box-shadow: 0 2px 10px 6px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);


      .content {
        border: none;
      }
    }

    .videoImage {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      border-radius: 0 !important;
      z-index: 1;
    }

    .title {
      width: 1408px;
      padding: 0 80px;
      height: auto;
      overflow: hidden;
      .header {
        color: #db2828;
        float: left;
        width: 75%;
        font-size: 32px;
        margin-bottom: 0;
        padding-top: 10px;
      }

      .buttons {
        float: right;

        .button {
          font-size: 20px;
          border-radius: 0;
          color: black;
          background-color: white;
          border-style: solid;
        }
      }
    }

    .description {
      clear: both;
      width: 1408px;
      font-size: 28px;
      padding: 0 80px;
      margin: 20px auto 60px;

      .paragraph {
        margin-bottom: 5px;
      }

      .header {
        font-size: 26px;
      }
    }
  }

  .sidePanel {
    float: left;

    .center {
      margin: 10px auto 10px 60px;
      width: 512px;
      background-color: white;
      box-shadow: 0 2px 10px 6px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);

      .header {
        font-size: 38px;
        width: 240px;
        margin: 0 auto 120px;
        position: relative;
        top: 60px;
        border-style: solid;
        color: #db2828;
        text-align: center;
      }

      .social {
        width: 107px;
        margin: auto;
        padding-bottom: 40px;

        .button {
          font-size: 45px;
          padding: 0;
          background-color: transparent;
          margin: 0;
        }
      }
      .lastAM {
        .card {
          width: 400px;
          height: 550px;
          margin: 30px auto;
          box-shadow: 0 2px 10px 8px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);

          a {
            height: 100%;
          }

          .content {
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            border: none !important;
            padding: 0;
            opacity: 0;
            transition: all .4s ease-in-out;
            .header {
              font-size: 30px;
              color: white;
              padding: 5px;
              position: absolute;
              left: 50%;
              top: 50%;
              margin: 0;
              margin-right: -50%;
              transform: translate(-50%,-50%);
              width: auto;
              border-style: none;
            }
          }
          .black {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            border-radius: 0!important;
            background: black;
            opacity: 0;
            transition: all .4s ease-in-out;
          }
          .Image {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            border-radius: 0;
          }
        }
        .card:hover {
          .black {
            opacity: 0.7;
            transition: all .4s ease-in-out;
          }
          .content {
            opacity: 1;
            transition: all .4s ease-in-out;
          }
        }
      }
      .lastAMVideo {
        .card {
          width: 448px;
          height: 252px;
          margin: 30px auto;
          box-shadow: 0 2px 10px 8px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);


          .Image {
            width: 100%;
            height: 100%;
          }
        }
      }
      .share {
        border: none;
        color: black;
        font-size: 28px;
        top: 0;
        margin: 60px auto 20px;
        width: 100%;
      }
    }
    .articleProductsContainer {
      margin: 80px auto 10px 60px;
      width: 512px;
      height: auto;
      overflow: hidden;
      background-color: white;
      box-shadow: 0 2px 10px 6px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
      .header {
        font-size: 38px;
        width: 260px;
        padding: 10px;
        margin: 0 auto 120px;
        position: relative;
        top: 60px;
        border-style: solid;
        color: #db2828;
        text-align: center;
      }
      .articleProducts {
        margin-bottom: 60px;
        .card {
          width: 250px;
          margin: 30px auto;
          border-radius: 0;
          box-shadow: 0 2px 10px 6px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
          .imageContainer {
            position: relative;
            height: 270px;

            .Image {
              max-width: 100%;
              max-height: 100%;
              position: absolute;
              margin: auto;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
            }
          }
          .content {
            text-align: center;
            padding: 10px;
            height: 110px;
            .header {
              height: 75px;
              font-size: 20px !important;
              overflow: hidden;
              color: black;
            }
            .description {
              font-size: 20px;
              color: #db2828;
            }
          }
        }
      }
    }
  }
}

.expertContainer {
  width: 1980px;
  margin: auto;
  padding: 80px 80px 0;

  .imageContainer {
    float: left;
    .expertImage {
      margin: auto 80px auto auto;
      width: 480px;
      box-shadow: 0 2px 10px 8px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
    }
  }
  .details{
    padding-top: 20px; 
    .header {
      font-size: 38px;
      color: #db2828;
    }

    .description {
      font-size: 28px;
      min-height: 350px;
    }
  }
}
.doctorInfo {
  margin-bottom: 130px !important;
}

.otherArticlesHeader {
  width: 430px;
}

.otherArticles {
  width: 1880px;
  margin: auto;
  height: auto;
  overflow: hidden;

  .card {
    margin: 10px;
    overflow: hidden;
    height: 600px;
    width: 450px;
    float: left;
    border-radius: 0;
    box-shadow: 0 2px 10px 4px rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);

    .Image {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
    }

    .black {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      border-radius: 0!important;
      background: black;
      opacity: 0;
      transition: all .4s ease-in-out;
    }
  
    .articleContent {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      border: none !important;
      padding: 0;
      opacity: 0;
      transition: all .4s ease-in-out;
      .header {
        font-size: 34px !important;
        color: white;
        padding: 5px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: 0;
        margin-right: -50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  .card:hover {
    .black {
      opacity: 0.7;
      transition: all .4s ease-in-out;
    }
    .content {
      opacity: 1;
      transition: all .4s ease-in-out;
    }
  }
  .card:first-child {
    margin-top: 10px;
  }
}

.mentionedProducts {
  font-size: 24px !important;
}

@media screen and (max-width: 2170px) {
  .pictureHeader {
    width: 1404px;
    font-size: 32px;
  }
  .videoPageContainer {
    width: 1424px;
    .main {
      margin: 10px 0 10px 10px;
      .card {
        width: 848px;
        height: 477px;
        margin: 60px auto 20px;
      }
      .title {
        width: 950px;
        padding: 0 40px;
        .header {
          width: 68%;
          font-size: 28px;
          .buttons {
            .button {
              font-size: 22px;
              padding: 10px 20px;
            }
          }
        }
      }
      .description {
        width: 950px;
        font-size: 24px;
        padding: 0 40px;

        .header {
          font-size: 24px;
        }
      }
    }

    .sidePanel {
      .center {
        width: 394px;

        .header {
          font-size: 30px;
          width: 180px;
          top: 40px;
          margin: 0 auto 80px;
        }
        .share {
          font-size: 22px;
          margin: 0 auto 20px;
          top: 0;
        }
        .lastAM {
          .card {
            width: 320px;
            height: 440px;
            .content {
              .header {
                font-size: 26px;
              }
            }
          }
        }
        .lastAMVideo {
          .card {
            width: 320px;
            height: 180px;
          }
        }
        .social {
          width: 95px;
          .button {
            font-size: 40px;
          }
        }
        .articleProducts {
          .card {
            margin: 2px;
            width: 185px;
          }
        }
      }
      .articleProductsContainer {
        margin: 60px auto 10px 60px;
        width: 394px;
        .header {
          font-size: 30px;
          width: 215px;
          margin: 0 auto 80px;
          top: 40px;
        }
        .articleProducts {
          .card {
            width: 215px;
            margin: 20px auto;
            .imageContainer {
              height: 225px;
            }
          }
        }
      }
    }
  }
  .expertContainer {
    width: 1404px;
    padding: 80px 40px 0;
    .imageContainer {
      .expertImage {
        margin: auto 40px auto auto;
      }
    }
    .details {
      .header {
        font-size: 32px;
      }
      .description {
        font-size: 24px;
      }
    }
  }
  .otherArticlesHeader {
    width: 350px;
  }
  .otherArticles {
    width: 1360px;

    .card {
      height: 440px;
      width: 320px;

      .content {
        .header {
          font-size: 27px !important;
        }
      }
    }
  }
  .otherMovies {
    .header {
      font-size: 32px !important;
    }
  }
  
  .recomendedProducts {
    font-size: 32px !important;
    margin-bottom: 35px !important;
  }
}

@media screen and (max-width: 1420px) {
  .pictureHeader {
    width: 972px;
    font-size: 28px;
  }
  .recomendedProducts {
    font-size: 28px !important;
    margin-bottom: 20px !important;
    margin-top: 25px !important;
  }
  .otherMovies {
    .header {
      font-size: 28px !important;
    }
  }
  .videoPageContainer {
    width: 992px;
    .main {
      .card {
        width: 560px;
        height: 315px;
      }
      .title {
        width: 630px;
        padding: 0 35px;
        .header {
          width: 70%;
          font-size: 24px;
          padding-top: 5px;
        }
        .buttons {
          .button {
            font-size: 14px;
            padding: 10px;
          }
        }
      }
      .description {
        .header {
          font-size: 18px;
        }
        width: 630px;
        font-size: 20px;
        padding: 0 35px;
        margin: 10px auto 30px;
      }
    }
    .sidePanel {
      .center {
        margin: 10px auto auto 32px;
        width: 310px;

        .header {
          font-size: 22px;
          width: 130px;
          top: 20px;
          margin: 0 auto 40px;
        }

        .lastAM {
          .card {
            width: 210px;
            height: 288px;
            .content {
              .header {
                font-size: 18px;
              }
            }
          }
        }
        .lastAMVideo {
          .card {
            width: 272px;
            height: 153px;
          }
        }
        .articleProducts {
          .card {
            width: 145px;
            .imageContainer {
              height: 200px;
            }
          }
        }
        .social {
          width: 71px;
          .button {
            font-size: 30px;
          }
        }
        .share {
          font-size: 18px;
          width: 150px;
          margin: 0 auto 10px;
          top: 0;
        }
      }
      .articleProductsContainer {
        margin: 40px auto 10px 32px;
        width: 310px;
        .header {
          font-size: 22px;
          margin: 0 auto 40px;
          top: 20px;
          width: 162px;
        }
        .articleProducts {
          margin-bottom: 40px;
          .card {
            width: 162px;
            .imageContainer {
              height: 175px;
            }
          }
        }
      }
    }
  }
  .expertContainer {
    width: 972px;
    padding: 40px 30px 0;

    .imageContainer {
      .expertImage {
        width: 320px;
        margin: auto 20px auto auto;
      }
    }
    .details {
      padding-top: 20px;
      .header {
        font-size: 24px;
      }
      .description {
        font-size: 20px;
        min-height: 215px;
        margin-bottom: 10px;
      }
    }
  }
  .doctorInfo {
    margin-bottom: 70px !important;
  }
  .otherArticlesHeader {
    width: 310px;
  }
  .otherArticles {
    width: 932px;

    .card {
      height: 283px;
      width: 213px;
      .content {
        .header {
          font-size: 16px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .videoPageContainer {
    .sidePanel {
      .center {
        .lastAM {
          .card {
            .content {
              opacity: 1;
              width: 100%;
              height: 72px;
              margin: auto;
              background-color: white;
              border: solid !important;
              border-width: 1px!important;
              border-color: lightgray !important;
              display: flex;
              position: absolute;
              bottom: 0;
              overflow: hidden;
      
              .header {
                font-size: 17px;
                padding: 5px;
                margin: auto;
                color: black;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
  .otherArticles {
    .card {
      .content {
        opacity: 1;
        width: 100%;
        height: 72px;
        margin: auto;
        background-color: white;
        border: solid !important;
        border-width: 1px!important;
        border-color: lightgray !important;
        display: flex;
        position: absolute;
        bottom: 0;
        overflow: hidden;

        .header {
          font-size: 17px !important;
          padding: 5px;
          margin: auto;
          color: black;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .pictureHeader {
    width: 746px;
    font-size: 24px;
  }
  .videoPageContainer {
    width: 766px;
    .main {
      clear: both;
      .card {
        width: 672px;
        height: 378px;
      }
      .title {
        width: 746px;
        margin: 10px auto;
        .header {
          font-size: 23px;
        }
        .buttons {
          .social {
            width: 95px;
            margin: 0;
            height: auto;
            overflow: hidden;
            .button {
              border: none;
              font-size: 40px;
              padding: 0;
              margin: 0;
            }
          }
        }
      }
      .description {
        width: 746px;
      }
    }
    .sidePanel {
      display: none;
    }
  }
  .articleProductsSmall {
    width: 708px;
    margin: auto;
    height: auto;
    overflow: hidden;
    padding-bottom: 10px;
    .card {
      height: 225px;
      width: 216px;
      margin: 10px!important;
      float: left;
      border-radius: 0;
      box-shadow: 0 2px 10px 6px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
      .imageContainer {
        position: relative;
        height: 225px;
        .Image {
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
        }
      }
      .content {
        border-top: none;
        text-align: center;
        padding: 10px;
        .header {
          font-size: 20px !important;
          height: 75px;
          overflow: hidden;
          margin-bottom: 10px;
          color: black;
        }
        .description {
          font-size: 20px;
          font-weight: 600;
          margin-top: 0 !important;
          color: #db2828;
        }
      }
    }
  }
  .expertContainer {
    width: 746px;
    .details {
      min-height: 268px;
    }
  }
  .otherMovies {
    .header {
      font-size: 24px !important;
    }
  }
  .otherArticles {
    width: 700px;
    padding-bottom: 20px;

    .card {
      width: 330px;
      height: 440px;
      margin: 10px;
      .content {
        height: 80px;
        .header {
          font-size: 20px !important;
        }
      }
    }
    .card:first-child {
      margin-top: 10px;
    }
  }
  .recomendedProducts {
    font-size: 24px !important;
  }
  .mentionedProducts {
    margin: 20px auto !important;
    color: #db2828 !important;
    border-style: solid !important;
    border-color: #db2828 !important;
    width: 175px;
    padding: 10px !important;
  }
}

@media screen and (max-width: 768px) {
  .recomendedProducts {
    margin-bottom: 10px !important;
  }
  .pictureHeader {
    width: 496px;
  }
  .videoPageContainer {
    width: 100%;
    .main {
      width: 100%;
      margin: 30px 0 30px auto;
      .card {
        width: 496px;
        height: 279px;
        margin: 30px auto 10px;
      }
      .title {
        width: 496px;
        padding: 0;
        .header {
          width: 100%;
        }
        .buttons {
          float: none;
          .button {
            font-size: 18px;
            float: left;
          }
          .social {
            width: 111px;
            .button {
              font-size: 44px;
            }
          }
        }
      }
      .description {
        width: 496px;
        padding: 0;
      }
    }
  }
  .articleProductsSmall {
    width: 496px;
    .card {
      box-shadow: 0 2px 10px 2px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
    }
  }
  .expertContainer {
    width: 496px;
    padding: 20px 0;

    .imageContainer {
      float: none;
      width: 320px;
      margin: auto;
      .expertImage {
        width: 320px;
      }
    }
    .details {
      padding-top: 10px;
      .header {
        text-align: center;
        
      }
      .description {
        min-height: 0;
        padding: 0 8px;
      }
    }
  }
  .doctorInfo {
    margin-bottom: 30px !important;
  }
  .otherArticles {
    width: 500px;
    .card {
      width: 240px;
      height: 320px;
      margin: 5px;
      box-shadow: 0 2px 10px 2px rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
      .content {
        height: 80px;
        .header {
          font-size: 15px;
        }
      }
    }
    .card:first-child {
      margin-top: 5px;
    }
  }
}

@media screen and (max-width: 500px) {
  .pictureHeader {
    width: 400px;
  }
  .videoPageContainer {
    .main {
      .card {
        width: 400px;
        height: 225px;
      }
      .title {
        width: 400px;
        .buttons {
          .button {
            font-size: 15.5px;
          }
          .social {
            width: 144px;
            .button {
              font-size: 41px;
            }
          }
        }
      }
      .description {
        width: 400px;
      }
    }
  }
  .articleProductsSmall {
    width: 400px;
    .card {
      width: 180px;
      height: 190px;
      margin: 10px !important;
      .imageContainer {
        height: 190px;
      }
      .content {
        padding: 5px;
        .header {
          font-size: 15px !important;
        }
        .description {
          font-size: 15px;
        }
      }
    }
  }
  .expertContainer {
    width: 400px;
  }
  .otherArticles {
    width: 350px;

    .card {
      width: 330px;
      height: 440px;
      margin: 0 10px 20px;
      .content {
        height: 105px;
        .header {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .pictureHeader {
    width: 100%;
  }
  .videoPageContainer {
    width: 100%;
    .main {
      .card {
        width: 100%;
        height: 196px;
      }
      .title {
        width: 100%;
        padding: 0 8px;
        .buttons {
          .social {
            width: 240px;
          }
        }
      }
      .description {
        width: 100%;
        padding: 0 8px;
      }
    }
  }
  .articleProductsSmall {
    width: 100%;
    .card {
      width: 50%;
      margin: 0 !important;
      box-shadow: none;
      border-style: solid;
      border-width: 1px;
      border-color: #ededed;
      .imageContainer {
        height: 188px;
      }
      .content {
        padding: 10px;
        .header {
          font-size: 20px !important;
        }
        .description {
          font-size: 20px;
        }
      }
    }
  }
  .expertContainer {
    width: 100%;
    .imageContainer {
      width: 100%;
      .expertImage {
        width: 100%;
      }
    }
  }
  .recomendedProducts {
    font-size: 20px !important;
  }
  .otherArticles {
    width: 100%;
    .card {
      width: 100%;
      height: 400px;
      margin: 0 auto 20px;
      border-style: solid;
      border-width: 1px;
      border-color: lightgray;
    }
  }
  .mentionedProducts {
    font-size: 20px !important;
  }
}