// Video Carousel
.videoHeader {
  width: 740px;
}
.videoCarousel {
  width: 1776px;
  margin: auto;
  margin-top: 30px;
  .videoCard {
    padding: 10px;
    outline-color: white;
    height: 333px;
    width: 592px;
    position: relative;
    left: 0;
    top: 0;
    transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
    .card {
      overflow: hidden;
      width: 100%;
      height: 100%;
      border-radius: 0;
      box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3);
      .image {
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
  }
  .slick-center {
    .videoCard {
      width: 1184px !important;
      height: 666px;
      z-index: 1;
      left: -296px;
      top: -166px;
      transition: width 2s, height 2s, left 2s, top 2s;
    }
  }
  .slick-track {
    top: 166px;
    height: 671px;
  }
  .slick-arrow {
    width: 80px;
    height: 80px;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
  }
  .slick-arrow::before {
    opacity: 1;
    color: #db2828;
    z-index: 1;
    font-size: 100px;
    position: relative;
    left: -10px;
    top: -3px;
  }
  .slick-prev {
    left: -77px;
  }
  .slick-next {
    right: -77px;
  }
}

@media screen and (max-width: 2170px) {
  .videoHeader {
    width: 640px;
  }
  .videoCarousel {
    width: 1296px;
    margin-top: 10px;
    .videoCard {
      height: 243px;
      width: 432px;
    }
    .slick-center {
      .videoCard {
        height: 486px;
        width: 864px !important;
        top: -122px;
        left: -216px;
      }
    }
    .slick-track {
      top: 122px;
      height: 491px;
    }
    .slick-arrow {
      width: 50px;
      height: 50px;
    }
    .slick-arrow::before {
      font-size: 66px;
    }
    .slick-prev {
      left: -40px;
    }
    .slick-next {
      right: -46px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .videoHeader {
    width: 580px;
  }
  .videoCarousel {
    width: 864px;
    .videoCard {
      height: 162px;
      width: 288px;
    }
    .slick-center {
      .videoCard {
        height: 324px;
        width: 576px !important;
        top: -81px;
        left: -144px;
      }
    }
    .slick-track {
      top: 81px;
      height: 329px;
    }
  }
}

@media screen and (max-width: 1020px) {
  .videoCarousel {
    width: 640px;
    .videoCard {
      width: 100%;
      height: 360px;
    }
    .slick-center {
      .videoCard {
        width: 100% !important;
        height: 360px;
        top: 0;
        left: 0;
      }
    }
    .slick-track {
      top: 0;
      height: auto;
    }
  }
}

.homeVideosContainer {
  .homeVideos {
    width: 700px;
    margin: auto;
    margin-top: 30px;
    .card {
      width: 672px;
      height: 378px;
      margin: 0 14px 20px;
      border-radius: 0;
      box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.3);
      .image {
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
    .videoNav {
      width: 100%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .homeVideosContainer {
    .homeVideos {
      width: 496px;
      .card {
        width: 496px;
        height: 279px;
        margin: 0 0 20px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .videoHeader {
    width: 325px;
  }
  .homeVideosContainer {
    .homeVideos {
      width: 400px;
      .card {
        width: 400px;
        height: 225px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .videoHeader {
    width: 275px;
  }
  .homeVideosContainer {
    .homeVideos {
      width: 100%;
      .card {
        width: 100%;
        height: 196px;
      }
    }
  }
}
