.videosLabel {
  text-align: center;
  min-height: 30px;
  max-height: 60px;
  max-width: 140px;
  background: #d82923;
  color: white;
  font-size: 23px;
  padding-top: 3px;
}

.videoFeed {
  display:-webkit-flex;
  display:-webkit-box;
  display:-moz-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px 0 0;
  border-color: #d82923;
  background: white;
}

.videoPanel {
  height: 375px;
  width: 560px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
  display:-webkit-flex;
  display:-webkit-box;
  display:-moz-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  margin: 30px auto;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  width: 100%;
  max-width: 560px;

  .video {
    display:block;
    float: left;
	  width: 560px;
	  height: 315px;
    text-align: center;
    width: 100%;
    max-width: 560px;

    iframe {
      width: 100%;
      max-width: 560px;
    }
  }

  .sidePanel {
    font-family: 'Open Sans', Helvetica, sans-serif;
    display: block;
	border-style: solid;
	border-width: 2px 0 0 0;
    border-color: black;
	background-color: black;
    background: black;
    .box {
      display:block;
	  float:left;
      box-sizing: border-box;
      width: 20%;
	  border-style: solid;
	  border-width: 1px;
      height: 56px;
      background: #fff;
      text-align: center;
      transition: all .4s ease-in-out;
      
      &:hover {
        background: #ebe9e9;
        cursor: pointer;
      }
    }

    span {
	    display: block;
    }
    
    .value {
	    font-size: 20px;
      font-weight: 600;
      padding-top: 5px;
    }
    
    .name {
      font-size: 19px;
      font-weight: 600;
    }

    .nameOnly {
      font-size: 20px;
      font-weight: 600;
      padding-top: 16px;
    }
  }
}

@media screen and (max-width: 600px) {
  .videoPanel {
	height: 431px;
    .sidePanel {
	  .like{
	    width: 30%;
	  }
	  .dislike {
	    width: 30%;
	  }
	  .subscribe {
	    width: 40%;
	  }
	  .shareFacebook {
		clear: left;
	    width: 50%;
	  }
	  .shareTwitter {
	    width: 50%;
	  }
    }
  }
}

.pagination {
  list-style: none;
  display: inline-block;
  border-radius: 50px;
  margin: 10px auto;
  -webkit-margin-before: 10px;
  -webkit-margin-after: 10px;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  -webkit-padding-start: unset;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
  border-color: #ddd;
  color: #000;
  background: #fff;
  padding: 10px 15px;
}
.pagination a.active {
  cursor: default;
}
.pagination a:active {
  outline: none;
}

.pagination a:hover {
  color: #E34E48;
  background-color: #eee;
}
.pagination a.prev {
  -moz-border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px 0 0 50px;
  width: 50px;
  position: relative;
  color: #fff;
  background: #d82923;
  font-size: 23px;
  padding: 4px;
  font-family: monospace;
}

.pagination a.prev:hover {
  background: #E34E48;
}

.pagination a.prev:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  right: 0;
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.pagination a.next {
  -moz-border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0;
  border-radius: 0 50px 50px 0;
  width: 50px;
  position: relative;
  color: #fff;
  background: #d82923;
  font-size: 23px;
  padding: 4px;
  font-family: monospace;
}

.pagination a.next:hover {
  background: #E34E48;
}

.pagination a.next:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}
.pagination a.active {
  border-color: #bbb;
  background: #d82923;
  color: #fff;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
}
