.otherMovies {
  margin-bottom: 30px;
  .header {
    font-size: 38px !important;
  }
}

.pictureHeader {
  font-size: 38px;
  width: 2045px;
  margin: auto auto 10px;
}

.recomendedProducts {
  font-size: 38px !important;
  padding-top: 15px;
}

.videoPageContainer {
  width: 1980px;
  margin: 25px auto auto;
  .main {
    margin: auto 0 60px auto;
    float: left;
    .card {
      width: 1408px;
      height: 792px;
      border-radius: 1.5em!important;

      .content {
        border: none;
      }
    }

    .videoImage {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
      border-radius: 1.5em!important;
    }

    .title {
      width: 1408px;
      padding: 0 15px;
      .header {
        float: left;
        width: 80%;
        font-size: 32px;
        margin-bottom: 15px;
      }

      .buttons {
        float: right;

        .button {
          font-size: 20px;
        }
      }
    }

    .description {
      clear: both;
      width: 1408px;
      font-size: 21px;
      padding: 0 16px;
      margin-bottom: 20px;

      .header {
        font-size: 26px;
      }
    }
  }

  .sidePanel {
    float: left;

    .center {
      margin: auto auto auto 60px;
      width: 512px;

      .header {
        font-size: 23px;
      }

      .social {
        width: 281px;
        margin: auto;

        .button {
          font-size: 3em;
          padding: 20px 40px;
        }
      }
      .lastAM {
        .card {
          width: 512px;
          height: 395px;
          border-radius: 1.5em!important;

          .content {
            border: none;
            height: 100px;
            overflow: hidden;
            padding: 5px 10px;
            .header {
              font-size: 26px !important;
              color: black;
            }
          }

          .Image {
            width: 100%;
            height: 288px;
            border-radius: 1.5em 1.5em 0 0!important;
          }
        }
      }
      .lastAMVideo {
        .card {
          width: 512px;
          height: 288px;
          border-radius: 1.5em!important;

          .Image {
            width: 100%;
            height: 288px;
            border-radius: 1.5em!important;
          }
        }
      }
      .articleProducts {
        display: flex;
        flex-wrap: wrap;
        .card {
          width: 250px;
          margin: 3px;
          .imageContainer {
            position: relative;
            height: 270px;

            .Image {
              max-width: 100%;
              max-height: 100%;
              position: absolute;
              margin: auto;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
            }
          }
          .content {
            text-align: center;
            padding: 10px;
            height: 110px;
            .header {
              height: 75px;
              font-size: 20px !important;
              overflow: hidden;
              color: black;
            }
            .description {
              font-size: 20px;
              color: #db2828;
            }
          }
        }
      }
    }
  }
}

.expertContainer {
  width: 1980px;
  margin: auto;

  .imageContainer {
    float: left;
    .expertImage {
      margin: auto 20px auto auto;
      width: 480px;
    }
  }
  .details{
    padding-top: 20px; 
    .header {
      font-size: 38px;
    }

    .description {
      font-size: 21px;
      min-height: 410px;
    }
  }
}

.otherArticles {
  display: flex;
  flex-wrap: wrap;
  width: 1980px;
  margin: auto;

  .card {
    width: 640px;
    height: 470px;
    margin: 10px;
    margin-top: 10px !important;
    border-radius: 1.5em!important;

    .Image {
      width: 100%;
      height: 360px;
      border-radius: 1.5em 1.5em 0 0!important;
    }
  
    .articleContent {
      border-style: none;
      height: 105px;
      padding: 5px 10px;
      overflow: hidden;

      .header {
        font-size: 26px !important;
        color: black;
      }
    }
  }
}

.mentionedProducts {
  font-size: 24px !important;
}

@media screen and (max-width: 2170px) {
  .pictureHeader {
    width: 1404px;
    font-size: 32px;
  }
  .videoPageContainer {
    width: 1404px;
    .main {
      .card {
        width: 960px;
        height: 540px;
      }
      .title {
        width: 960px;
        .header {
          width: 60%;
          font-size: 26px;
          .buttons {
            .button {
              font-size: 18px;
            }
          }
        }
      }
      .description {
        width: 960px;
        font-size: 20px;

        .header {
          font-size: 24px;
        }
      }
    }

    .sidePanel {
      .center {
        width: 384px;

        .lastAM {
          .card {
            width: 384px;
            height: 300px;
            .Image {
              height: 216px;
            }
            .content {
              height: 80px;
              .header {
                font-size: 20px !important;
              }
            }
          }
        }
        .lastAMVideo {
          .card {
            width: 384px;
            height: 216px;
            .Image {
              height: 216px;
            }
          }
        }
        .articleProducts {
          .card {
            margin: 2px;
            width: 185px;
          }
        }
      }
    }
  }
  .expertContainer {
    width: 1404px;
    .details {
      .header {
        font-size: 26px;
      }
      .description {
        font-size: 20px;
        min-height: 417px;
      }
    }
  }
  .otherArticles {
    width: 1404px;

    .card {
      width: 448px;
      height: 360px;

      .Image {
        height: 252px;
      }
    }
  }
  .otherMovies {
    .header {
      font-size: 32px !important;
    }
  }
  
  .recomendedProducts {
    font-size: 32px !important;
  }
}

@media screen and (max-width: 1420px) {
  .pictureHeader {
    width: 972px;
    font-size: 28px;
  }
  .recomendedProducts {
    font-size: 28px !important;
  }
  .otherMovies {
    .header {
      font-size: 28px !important;
    }
  }
  .videoPageContainer {
    width: 972px;
    .main {
      .card {
        width: 640px;
        height: 360px;
      }
      .title {
        width: 640px;
        .header {
          width: 64%;
          font-size: 22px;
        }
        .buttons {
          .button {
            font-size: 12px;
          }
        }
      }
      .description {
        .header {
          font-size: 18px;
        }
        width: 640px;
        font-size: 16px;
      }
    }
    .sidePanel {
      .center {
        margin: auto auto auto 32px;
        width: 300px;

        .lastAM {
          .card {
            width: 300px;
            height: 255px;
            .Image {
              height: 171px;
            }
          }
        }
        .lastAMVideo {
          .card {
            width: 300px;
            height: 171px;
            .Image {
              height: 171px;
            }
          }
        }
        .articleProducts {
          .card {
            width: 145px;
            .imageContainer {
              height: 200px;
            }
          }
        }
        .social {
          width: 201px;
          .button {
            font-size: 2em;
            padding: 15px 30px;
          }
        }
      }
    }
  }
  .expertContainer {
    width: 972px;

    .imageContainer {
      .expertImage {
        width: 320px;
      }
    }
    .details {
      padding-top: 20px;
      .header {
        font-size: 20px;
      }
      .description {
        font-size: 16px;
        min-height: 264px;
      }
    }
  }

  .otherArticles {
    width: 972px;

    .card {
      width: 304px;
      height: 255px;

      .Image {
        height: 171px;;
      }

      .articleContent {
        height: 80px;
        .header {
          font-size: 20px !important;
        }
        .description {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .pictureHeader {
    width: 746px;
    font-size: 24px;
  }
  .videoPageContainer {
    width: 736px;
    .main {
      clear: both;
      .card {
        width: 736px;
        height: 374px;
      }
      .title {
        width: 736px;
        margin: 10px auto;
        .buttons {
          .social {
            margin-top: 2px;
            .button {
              width: 72px;
            }
          }
        }
      }
      .description {
        width: 736px;
      }
    }
    .sidePanel {
      display: none;
    }
  }
  .articleProductsSmall {
    width: 744px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    .card {
      height: 380px;
      width: 228px;
      margin: 10px !important;
      .imageContainer {
        position: relative;
        height: 260px;
        .Image {
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
        }
      }
      .content {
        border-top: none;
        text-align: center;
        padding: 10px;
        .header {
          font-size: 20px !important;
          height: 75px;
          overflow: hidden;
          margin-bottom: 10px;
          color: black;
        }
        .description {
          font-size: 20px;
          font-weight: 600;
          margin-top: 0 !important;
          color: #db2828;
        }
      }
    }
  }
  .expertContainer {
    width: 746px;
    .details {
      min-height: 268px;
    }
  }
  .otherMovies {
    .header {
      font-size: 24px !important;
    }
  }
  .otherArticles {
    width: 744px;
    flex-wrap: wrap;

    .card {
      width: 368px;
      height: 290px;
      margin-top: 2px !important;
      margin: 2px;
      .Image {
        height: 207px;
      }
    }
  }
  .recomendedProducts {
    font-size: 24px !important;
  }
}

@media screen and (max-width: 768px) {
  .pictureHeader {
    width: 496px;
  }
  .videoPageContainer {
    width: 496px;
    .main {
      margin: auto 0 30px auto;
      .card {
        width: 496px;
        height: 279px;
        margin: auto;
      }
      .title {
        width: 496px;
        .header {
          width: 100%;
        }
        .buttons {
          float: none;
          .button {
            font-size: 18px;
          }
          .blue {
            float: left;
          }
          .social {
            .button {
              width: 117px;
            }
          }
        }
      }
      .description {
        width: 496px;
      }
    }
  }
  .articleProductsSmall {
    width: 496px;
  }
  .expertContainer {
    width: 496px;

    .imageContainer {
      float: none;
      width: 320px;
      margin: auto;
      .expertImage {
        width: 320px;
      }
    }
    .details {
      padding-top: 10px;
      .header {
        text-align: center;
        
      }
      .description {
        min-height: 0;
        padding: 0 8px;
      }
    }
  }
  .otherArticles {
    display: inline;

    .card {
      width: 496px;
      height: 385px;
      margin: 10px auto;

      .Image {
        height: 279px;
      }
      .articleContent {
        height: 105px;
        .header {
          font-size: 26px !important;
        }
        .description {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .pictureHeader {
    width: 400px;
  }
  .videoPageContainer {
    width: 400px;
    .main {
      .card {
        width: 400px;
        height: 225px;
      }
      .title {
        width: 400px;
        .buttons {
          .button {
            font-size: 15.5px;
          }
          .blue {
            float: none;
          }
        }
      }
      .description {
        width: 400px;
      }
    }
  }
  .articleProductsSmall {
    width: 400px;
    .card {
      width: 190px;
      height: 350px;
      margin: 5px !important;
      .imageContainer {
        height: 230px;
      }
      .content {
        padding: 5px;
        .header {
          font-size: 15px !important;
        }
        .description {
          font-size: 15px;
        }
      }
    }
  }
  .expertContainer {
    width: 400px;
  }
  .otherArticles {
    .card {
      width: 400px;
      height: 310px;

      .Image {
        height: 225px;
      }
      .articleContent {
        height: 80px;
        .header {
          font-size: 20px !important;
        }
        .description {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .pictureHeader {
    width: 100%;
  }
  .videoPageContainer {
    width: 100%;
    .main {
      .card {
        width: 100%;
        height: 196px;
        border-radius: 0 !important;

        .videoImage {
          border-radius: 0 !important;
        }
      }
      .title {
        width: 100%;
        padding: 0 8px;
      }
      .description {
        width: 100%;
        padding: 0 8px;
      }
    }
  }
  .articleProductsSmall {
    width: 100%;
    .card {
      width: 49%;
      height: 325px;
      margin: 5px auto !important;
      .imageContainer {
        height: 200px;
      }
      .content {
        padding: 10px;
        .header {
          font-size: 20px !important;
        }
        .description {
          font-size: 20px;
        }
      }
    }
  }
  .expertContainer {
    width: 100%;
    .imageContainer {
      width: 100%;
      .expertImage {
        width: 100%;
      }
    }
  }
  .recomendedProducts {
    font-size: 20px !important;
  }
  .otherArticles {
    .card {
      width: 100%;
      height: 280px;
      margin: 0 0 20px!important;
      border-radius: 0 !important;
      border-style: solid;
      border-width: 1px;
      border-color: white;

      .Image {
        height: 196px;
        border-radius: 0 !important;
      }
    }
  }
  .mentionedProducts {
    font-size: 20px !important;
  }
}