
// Videos List

.videoPicture {
  height: 300px;
}

.videoContainer {
  display: flex;
  width: 1980px;
  margin: auto;

  .videoList {
    margin: 0 0 auto auto;
    height: 1559px;
    width: 1224px;
    position: relative;

    .videoNav {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      clear: both;
    }

    .card {
      width: 592px;
      height: 333px;
      margin: 40px;
      margin-left: 0;
      border-radius: 1.5em!important;

      .listImage {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
        border-radius: 1.5em!important;
      }
  
      .listContent {
        z-index: 2;
        border-style: none;
        position: absolute;
        bottom: 0;
        padding: 15px 20px;
        font-size: 28px;

        .description {
          display: none;
        }
      }
    }

    .card:nth-child(odd) {
      clear: left;
      float: left;
      margin-top: 0;
    }

    .card:first-child {
      margin-top: 40px;
    }
  }

  .newsletterContainer {
    height: 1559px;
    width: 756px;
  }

  .newsletter {
    height: 1452px;
    width: 716px;
    margin: 40px!important;
    margin-right: 0 !important;
    border-radius: 1.5em!important;
    padding: 1em 1em !important;

    .header {
      font-size: 34px!important;
      margin-top: 90px!important;
      margin-bottom: 30px;
    }
    .paragraph {
      font-size: 49px;
      margin-bottom: 80px;
    }

    .input {
      width: 600px;
      display: block;
      font-size : 3em;
      margin: auto auto 80px auto;

      input {
        padding: 0.5em 0.6em;
        border-radius: 0.5em;
        width: 100%;
      }
    }

    .checkbox {
      font-size: 23px;
      margin-bottom: 90px;
      line-height: normal;
      label {
        padding-left: 54px;
      }
      label::before {
        width: 51px;
        height: 51px;
      }
      label::after {
        font-size: 51px;
        width: 51px;
        height: 51px;
      }
    }

    .button {
      margin-bottom: 40px;
      font-size: 3em;
      padding: 0.75em 3.5em;
      border-radius: 1.75rem;
    }
  }
}

@media screen and (max-width: 2170px) {
  .videoContainer {
    width: 1404px;

    .videoList {
      height: 1175px;
      width: 921px;

      .card {
        width: 448px;
        height: 252px;
        margin: 25px;
        margin-left: 0;
    
        .listContent {
          font-size: 20px;
        }
      }
  
      .card:first-child {
        margin-top: 25px;
      }
    }
  
    .newsletterContainer {
      height: 1175px;
      width: 483px;
    }
  
    .newsletter {
      height: 1083px;
      width: 458px;
      margin: 25px !important;
      margin-right: 0 !important;
      padding: 1em 1em !important;

      .header {
        font-size: 31px!important;
        margin-top: 60px!important;
      }
      .paragraph {
        font-size: 29px;
        margin-bottom: 40px;
      }
  
      .input {
        width: 375px;
        font-size: 2em;
        margin: auto auto 40px auto;
      }
  
      .checkbox {
        font-size: 18px;
        margin-bottom: 50px;
        label {
          padding-left: 38px;
        }
        label::before {
          width: 34px;
          height: 34px;
        }
        label::after {
          width: 34px;
          height: 34px;
          font-size: 34px;
        }
      }
  
      .button {
        font-size: 2em;
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .videoPicture {
    height: 250px;
  }
  .videoContainer {
    width: 972px;
    .videoList {
      height: 847px;
      width: 655px;

      .card {
        width: 320px;
        height: 180px;
        margin: 15px;
        margin-left: 0;

        .listContent {
          font-size: 15px;
        }
      }
  
      .card:first-child {
        margin-top: 15px;
      }
    }
  
    .newsletterContainer {
      height: 847px;
      width: 317px;
    }
  
    .newsletter {
      height: 766px;
      width: 302px;
      margin: 15px !important;
      margin-right: 0 !important;
      padding: 0.5em 0.5em !important;

      .header {
        font-size: 18px!important;
        margin-top: 40px!important;
        margin-bottom: 20px;
      }
      .paragraph {
        font-size: 20px;
        margin-bottom: 30px;
      }
  
      .input {
        font-size : 1.5em;
        margin: auto auto 30px auto;
        width: 230px;
      }
  
      .checkbox {
        font-size: 14px;
        margin-bottom: 20px;
        label {
          padding-left: 32px;
        }
        label::before {
          width: 28px;
          height: 28px;
        }
        label::after {
          width: 28px;
          height: 28px;
          font-size: 28px;
        }
      }
  
      .button {
        font-size: 1.5em;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .videoPicture {
    height: 200px;
  }
    .videoContainer {
      display: inline;

    .videoList {
      height: auto;
      width: 746px;
      margin: auto;

      .videoNav {
        position: relative;
      }

      .card {
        width: 368px;
        height: 207px;
        margin: 10px 10px 10px 0;
      }

      .card:first-child {
        margin-top: 0;
      }
    }
  
    .newsletterContainer {
      height: auto;
      width: 100%;
    }
  
    .newsletter {
      height: auto;
      width: 746px;
      margin: auto !important;
      padding: 20px 20px !important; 

      .header {
        margin-bottom: 10px;
        margin-top: 10px !important;
        font-size: 19px !important;
      }
      .paragraph {
        font-size: 21px;
        line-height: 22px;
        margin-bottom: 15px;
      }
      .input {
        width: 640px;
        font-size: 17px;
        margin: 0 auto 15px auto;
        input {
          padding: 10px 20px;
        }
      }
      .checkbox {
        font-size: 13px;
        line-height: 14px;
        margin-bottom: 10px;
        label {
          padding-left: 33px;
        }
        label::before {
          width: 20px;
          height: 20px;
        }
        label::after {
          font-size: 20px;
          width: 20px;
          height: 20px;
          top: 2px;
        }
      }
      .button {
        font-size: 16px;
        padding: 10px 35px;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 0.5em !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .videoPicture {
    height: 175px;
  }
  .videoContainer {
  .videoList {
    width: 496px;
    margin: auto;

    .card {
      width: 496px;
      height: 279px;
      margin: 10px auto;
    }

    .card:first-child {
      margin-top: 20px;
    }
  }
  
  .newsletter {
    width: 496px;
    border-radius: 0 !important;
    padding: 10px !important;

    .header {
      font-size: 17px !important;
      margin-top: 10px !important;
    }
    .paragraph {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 15px;
    }

    .input {
      font-size: 17px;
      width: 420px;
      margin: 0 auto 15px auto;
      input {
        padding: 10px 20px;
      }
    }

    .checkbox {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 10px;

      label {
        padding-left: 24px;
      }
      label::before {
        width: 20px;
        height: 20px;
      }
      label::after {
        font-size: 20px;
        width: 20px;
        height: 20px;
        top: 2px;
      }
    }

    .button {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 16px;
      padding: 10px 35px;
      border-radius: 0.5em;
    }
  }
  }
}

@media screen and (max-width: 500px) {
  .videoContainer {
  .videoList {
    width: 400px;
    margin: auto;

    .card {
      width: 400px;
      height: 225px;
      margin: 10px auto;

      .listContent {
        font-size: 13px;
      }
    }

    .card:first-child {
      margin-top: 20px;
    }
  }
  
  .newsletter {
    width: 400px;
    border-radius: 0 !important;
    padding: 5px !important;

    .header {
      font-size: 15px !important;
    }

    .paragraph {
      font-size: 16px;
      line-height: 18px;
    }

    .input {
      width: 340px;
      font-size: 15px;
      input {
        padding: 8px 15px;
      }
    }

    .checkbox {
      font-size: 10px;
    }

    .button {
      padding: 10px 30px;
    }
  }
  }
}

@media screen and (max-width: 400px) {
  .videoContainer {
  .videoList {
    width: 100%;
    margin: auto;

    .card {
      width: 100%;
      height: 198px;
      margin: 0 0 20px;
      border-radius: 0 !important;
      border-style: solid;
      border-width: 1px;
      border-color: white;

      .listContent {
        padding: 10px;
      }

      .listImage {
        border-radius: 0 !important;
      }
    }

    .card:first-child {
      margin-top: 20px;
    }
  }
  .newsletter {
    width: 100%;
    .input {
      width: 280px;
    }
  }
  }
}

// Main Movies

.mainMovies {
  width: 1980px;
  margin: auto;

  .card {
    width: 640px;
    height: 360px;
    margin: 10px;
    margin-top: 10px !important;
    border-radius: 1.5em!important;
    float: left;

    .listImage {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
      border-radius: 1.5em!important;
    }
  }
}

@media screen and (max-width: 2170px) {
  .mainMovies {
    width: 1404px;

    .card {
      width: 448px;
      height: 252px;
    }
  }
}

@media screen and (max-width: 1420px) {
  .mainMovies {
    width: 972px;

    .card {
      width: 304px;
      height: 171px;
    }
  }
}

@media screen and (max-width: 1020px) {
  .mainMovies {
    width: 746px;
    flex-wrap: wrap;

    .card {
      width: 368px;
      height: 207px;
      margin-top: 2px !important;
      margin: 2px;
    }
  }
}

@media screen and (max-width: 768px) {
  .mainMovies {
    width: 496px;

    .card {
      width: 496px;
      height: 279px;
      margin: 10px auto;
    }
  }
}

@media screen and (max-width: 500px) {
  .mainMovies {
    width: 400px;
    .card {
      width: 400px;
      height: 225px;
      margin: 10px auto;
    }
  }
}

@media screen and (max-width: 400px) {
  .mainMovies {
    width: 100%;
    .card {
      width: 100%;
      height: 196px;
      margin: 0 0 20px!important;
      border-radius: 0 !important;
      border-style: solid;
      border-width: 1px;
      border-color: white;

      .listImage {
        border-radius: 0 !important;
      }
    }
  }
}
