// Components
/* @import "partials/carousel";
@import "partials/video";
@import "partials/social";
@import "partials/doctor";*/
@import "slick/slick.css";
@import "slick/slick-theme.css";
@import "semantic/semantic.min.css";
@import "partials/home";
@import "partials/common";
@import "partials/videos";
@import "partials/video-page";
@import "partials/experts";
@import "partials/expert-page";
@import "partials/articles";

// Main Page
* {
  box-sizing: border-box;
}

body {
  background: white;
  margin: 0;
  line-height: normal;
}

.socialTab {
  position: relative;
  height: 53px;
  width: 126px;

  .ui.button {
    margin: 8.5px 3px;
  }

  .navSocialButtonFacebook {
    position: absolute;
  }
  .navSocialButtonTwitter {
    position: absolute;
    left: 42px;
  }
  
  .navSocialButtonInstagram {
    position: absolute;
    left: 84px;
  }
}



.pagination {
  list-style: none;
  display: inline-block;
  border-radius: 50px;
  margin: 10px auto;
  -webkit-margin-before: 10px;
  -webkit-margin-after: 10px;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  -webkit-padding-start: unset;
  padding: 0;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
  border-color: #ddd;
  color: #000;
  background: #fff;
  padding: 10px 15px;
}
.pagination a.active {
  cursor: default;
}
.pagination a:active {
  outline: none;
}

.pagination a:hover {
  color: #E34E48;
  background-color: #eee;
}
.pagination a.prev {
  -moz-border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px 0 0 50px;
  width: 50px;
  position: relative;
  color: #fff;
  background: #d82923;
  font-size: 23px;
  padding: 4px;
  font-family: monospace;
}

.pagination a.prev:hover {
  background: #E34E48;
}

.pagination a.prev:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  right: 0;
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.pagination a.next {
  -moz-border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0;
  border-radius: 0 50px 50px 0;
  width: 50px;
  position: relative;
  color: #fff;
  background: #d82923;
  font-size: 23px;
  padding: 4px;
  font-family: monospace;
}

.pagination a.next:hover {
  background: #E34E48;
}

.pagination a.next:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}
.pagination a.active {
  border-color: #bbb;
  background: #d82923;
  color: #fff;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
}















/*
.loadingSpinner {
  margin: 15px auto;
  height: 50px;
  width: 50px;
  animation: rotate 1s infinite linear;
  border: 11px solid #d82923;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.tvRow {
  display:-webkit-flex;
  display:-webkit-box;
  display:-moz-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  flex-wrap: nowrap;
}

.tvSide {
  display:block;
  flex: 30%;
  padding: 10px;
}

.tvMain {
  display:block;
  flex: 70%;
  padding: 10px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .tvRow {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .tvMain {
    padding: 10px 0;
  }

  .tvSide {
    padding: 10px 0;
  }
}
*/